<nav
  class="relative mx-auto flex max-w-full flex-row items-center justify-center bg-slightly-white px-5 py-5 xl:py-6"
>
  <div
    class="flex h-full w-full max-w-screen-2xl flex-nowrap items-center justify-between"
  >
    <a href="/" title="IES2000" class="max-w-64 px-3 py-1" translate="no">
      <img src="/public/images/logo-ies.svg" alt="ies2000 logo" />
    </a>
    <div class="hidden xl:flex xl:flex-col">
      <div class="mb-4 flex gap-3 self-end text-sm">
        <span
          >Phone:
          <a class="underline" href="tel:+18772488640">(877) 248-8640</a></span
        >
        <span>|</span>
        <span>Fax: (937) 663-0678</span>
        <span>|</span>
        <span
          ><a class="underline" href="mailto:info@ies2000.com"
            >info@ies2000.com</a
          ></span
        >
      </div>
      <nav class="hidden xl:flex" aria-label="Navigation">
        <h2 class="sr-only" id="navigation">Navigation</h2>
        <menu class="flex items-center space-x-8 tracking-wider text-black">
          <li>
            <a
              href="/"
              class="inline-flex whitespace-nowrap py-4 text-base font-semibold"
              >Home</a
            >
          </li>
          <li class="group relative">
            <a
              href="/products-services"
              class="flex cursor-pointer items-center gap-4 whitespace-nowrap py-4 text-base font-semibold"
              ><span>Products & Services</span>
              <span
                ><svg
                  class="h-3 w-3 transform transition duration-300 group-hover:rotate-180"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 12 8"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    fill="currentColor"
                    d="M10.9997 1.16994C10.8123 0.983692 10.5589 0.87915 10.2947 0.87915C10.0305 0.87915 9.77707 0.983692 9.5897 1.16994L5.9997 4.70994L2.4597 1.16994C2.27234 0.983692 2.01889 0.87915 1.7547 0.87915C1.49052 0.87915 1.23707 0.983692 1.0497 1.16994C0.955976 1.26291 0.881582 1.37351 0.830813 1.49537C0.780044 1.61723 0.753906 1.74793 0.753906 1.87994C0.753906 2.01195 0.780044 2.14266 0.830813 2.26452C0.881582 2.38638 0.955976 2.49698 1.0497 2.58994L5.2897 6.82994C5.38267 6.92367 5.49327 6.99806 5.61513 7.04883C5.73699 7.0996 5.86769 7.12574 5.9997 7.12574C6.13172 7.12574 6.26242 7.0996 6.38428 7.04883C6.50614 6.99806 6.61674 6.92367 6.7097 6.82994L10.9997 2.58994C11.0934 2.49698 11.1678 2.38638 11.2186 2.26452C11.2694 2.14266 11.2955 2.01195 11.2955 1.87994C11.2955 1.74793 11.2694 1.61723 11.2186 1.49537C11.1678 1.37351 11.0934 1.26291 10.9997 1.16994Z"
                  ></path></svg></span
            ></a>
            <menu
              class="invisible absolute z-20 flex transform flex-col gap-4 rounded-xl bg-white p-4 text-black opacity-0 shadow-xl transition duration-500 group-hover:visible group-hover:translate-y-0 group-hover:opacity-100"
            >
              <li class="cursor-pointer rounded-xl hover:bg-iesGreen-lightest">
                <a
                  href="/acoustic-blankets-rolls-quilted-fiberglass"
                  class="inline-flex whitespace-nowrap px-4 py-2 text-base font-semibold hover:text-black"
                  >Acoustic Blankets & Rolls: Quilted Fiberglass</a
                >
              </li>
              <li class="cursor-pointer rounded-xl hover:bg-iesGreen-lightest">
                <a
                  href="/acoustic-doors-and-acoustic-windows"
                  class="inline-flex whitespace-nowrap px-4 py-2 text-base font-semibold hover:text-black"
                  >Acoustic Doors & Windows</a
                >
              </li>
              <li class="cursor-pointer rounded-xl hover:bg-iesGreen-lightest">
                <a
                  href="/acoustic-foams"
                  class="inline-flex whitespace-nowrap px-4 py-2 text-base font-semibold hover:text-black"
                  >Acoustic Foams</a
                >
              </li>
              <li class="cursor-pointer rounded-xl hover:bg-iesGreen-lightest">
                <a
                  href="/duct-lagging"
                  class="inline-flex whitespace-nowrap px-4 py-2 text-base font-semibold hover:text-black"
                  >Duct Lagging</a
                >
              </li>
              <li class="cursor-pointer rounded-xl hover:bg-iesGreen-lightest">
                <a
                  href="/fabric-panels-ceiling-products"
                  class="inline-flex whitespace-nowrap px-4 py-2 text-base font-semibold hover:text-black"
                  >Fabric Panels/Ceiling Products</a
                >
              </li>
              <li class="cursor-pointer rounded-xl hover:bg-iesGreen-lightest">
                <a
                  href="/silencers-louvers"
                  class="inline-flex whitespace-nowrap px-4 py-2 text-base font-semibold hover:text-black"
                  >HVAC Duct Silencers & Vent Noise Silencers</a
                >
              </li>
              <li class="cursor-pointer rounded-xl hover:bg-iesGreen-lightest">
                <a
                  href="/industrial-noise-control-engineering"
                  class="inline-flex whitespace-nowrap px-4 py-2 text-base font-semibold hover:text-black"
                  >Industrial Noise Control Engineering</a
                >
              </li>
              <li class="cursor-pointer rounded-xl hover:bg-iesGreen-lightest">
                <a
                  href="/acoustic-curtains"
                  class="inline-flex whitespace-nowrap px-4 py-2 text-base font-semibold hover:text-black"
                  >Industrial Sound & Acoustic Barrier Curtains</a
                >
              </li>
              <li class="cursor-pointer rounded-xl hover:bg-iesGreen-lightest">
                <a
                  href="/oem-enclosures"
                  class="inline-flex whitespace-nowrap px-4 py-2 text-base font-semibold hover:text-black"
                  >OEM Enclosures</a
                >
              </li>
              <li class="cursor-pointer rounded-xl hover:bg-iesGreen-lightest">
                <a
                  href="/acoustic-outdoor-barrier-walls"
                  class="inline-flex whitespace-nowrap px-4 py-2 text-base font-semibold hover:text-black"
                  >Outdoor Sound Barrier Walls & Soundproof Panels</a
                >
              </li>
              <li class="cursor-pointer rounded-xl hover:bg-iesGreen-lightest">
                <a
                  href="/outdoor-sound-curtains"
                  class="inline-flex whitespace-nowrap px-4 py-2 text-base font-semibold hover:text-black"
                  >Outdoor Sound Curtains</a
                >
              </li>
              <li class="cursor-pointer rounded-xl hover:bg-iesGreen-lightest">
                <a
                  href="/acoustical-enclosures"
                  class="inline-flex whitespace-nowrap px-4 py-2 text-base font-semibold hover:text-black"
                  >Sound Proof & Acoustical Enclosures</a
                >
              </li>
              <li class="cursor-pointer rounded-xl hover:bg-iesGreen-lightest">
                <a
                  href="/damping-sheets-compounds"
                  class="inline-flex whitespace-nowrap px-4 py-2 text-base font-semibold hover:text-black"
                  >Vibration Damping Sheets & Damping Compounds</a
                >
              </li>
            </menu>
          </li>
          <li class="group relative">
            <a
              href="/"
              class="flex cursor-pointer items-center gap-4 whitespace-nowrap py-4 text-base font-semibold"
              ><span>By Application</span>
              <span
                ><svg
                  class="h-3 w-3 transform transition duration-300 group-hover:rotate-180"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 12 8"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    fill="currentColor"
                    d="M10.9997 1.16994C10.8123 0.983692 10.5589 0.87915 10.2947 0.87915C10.0305 0.87915 9.77707 0.983692 9.5897 1.16994L5.9997 4.70994L2.4597 1.16994C2.27234 0.983692 2.01889 0.87915 1.7547 0.87915C1.49052 0.87915 1.23707 0.983692 1.0497 1.16994C0.955976 1.26291 0.881582 1.37351 0.830813 1.49537C0.780044 1.61723 0.753906 1.74793 0.753906 1.87994C0.753906 2.01195 0.780044 2.14266 0.830813 2.26452C0.881582 2.38638 0.955976 2.49698 1.0497 2.58994L5.2897 6.82994C5.38267 6.92367 5.49327 6.99806 5.61513 7.04883C5.73699 7.0996 5.86769 7.12574 5.9997 7.12574C6.13172 7.12574 6.26242 7.0996 6.38428 7.04883C6.50614 6.99806 6.61674 6.92367 6.7097 6.82994L10.9997 2.58994C11.0934 2.49698 11.1678 2.38638 11.2186 2.26452C11.2694 2.14266 11.2955 2.01195 11.2955 1.87994C11.2955 1.74793 11.2694 1.61723 11.2186 1.49537C11.1678 1.37351 11.0934 1.26291 10.9997 1.16994Z"
                  ></path></svg></span
            ></a>
            <menu
              class="invisible absolute z-20 flex transform flex-col gap-4 rounded-xl bg-white p-4 text-black opacity-0 shadow-xl transition duration-500 group-hover:visible group-hover:translate-y-0 group-hover:opacity-100"
            >
              <li class="cursor-pointer rounded-xl hover:bg-iesGreen-lightest">
                <a
                  href="/architectural-sound-products"
                  class="inline-flex whitespace-nowrap px-4 py-2 text-base font-semibold hover:text-black"
                  >Architectural Sound & Acoustics</a
                >
              </li>
              <li class="cursor-pointer rounded-xl hover:bg-iesGreen-lightest">
                <a
                  href="/outdoor-construction-noise-control"
                  class="inline-flex whitespace-nowrap px-4 py-2 text-base font-semibold hover:text-black"
                  >Construction/Outdoor Noise Control & Reduction</a
                >
              </li>
              <li class="cursor-pointer rounded-xl hover:bg-iesGreen-lightest">
                <a
                  href="/industrial-noise-control-products"
                  class="inline-flex whitespace-nowrap px-4 py-2 text-base font-semibold hover:text-black"
                  >Industrial Noise Control & Reduction</a
                >
              </li>
            </menu>
          </li>
          <li class="group relative">
            <a
              href="/"
              class="flex cursor-pointer items-center gap-4 whitespace-nowrap py-4 text-base font-semibold"
              ><span>Company</span>
              <span
                ><svg
                  class="h-3 w-3 transform transition duration-300 group-hover:rotate-180"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 12 8"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    fill="currentColor"
                    d="M10.9997 1.16994C10.8123 0.983692 10.5589 0.87915 10.2947 0.87915C10.0305 0.87915 9.77707 0.983692 9.5897 1.16994L5.9997 4.70994L2.4597 1.16994C2.27234 0.983692 2.01889 0.87915 1.7547 0.87915C1.49052 0.87915 1.23707 0.983692 1.0497 1.16994C0.955976 1.26291 0.881582 1.37351 0.830813 1.49537C0.780044 1.61723 0.753906 1.74793 0.753906 1.87994C0.753906 2.01195 0.780044 2.14266 0.830813 2.26452C0.881582 2.38638 0.955976 2.49698 1.0497 2.58994L5.2897 6.82994C5.38267 6.92367 5.49327 6.99806 5.61513 7.04883C5.73699 7.0996 5.86769 7.12574 5.9997 7.12574C6.13172 7.12574 6.26242 7.0996 6.38428 7.04883C6.50614 6.99806 6.61674 6.92367 6.7097 6.82994L10.9997 2.58994C11.0934 2.49698 11.1678 2.38638 11.2186 2.26452C11.2694 2.14266 11.2955 2.01195 11.2955 1.87994C11.2955 1.74793 11.2694 1.61723 11.2186 1.49537C11.1678 1.37351 11.0934 1.26291 10.9997 1.16994Z"
                  ></path></svg></span
            ></a>
            <menu
              class="invisible absolute z-20 flex transform flex-col gap-4 rounded-xl bg-white p-4 text-black opacity-0 shadow-xl transition duration-500 group-hover:visible group-hover:translate-y-0 group-hover:opacity-100"
            >
              <li class="cursor-pointer rounded-xl hover:bg-iesGreen-lightest">
                <a
                  href="/about-us"
                  class="inline-flex whitespace-nowrap px-4 py-2 text-base font-semibold hover:text-black"
                  >About Us</a
                >
              </li>
              <li class="cursor-pointer rounded-xl hover:bg-iesGreen-lightest">
                <a
                  href="/case-studies"
                  class="inline-flex whitespace-nowrap px-4 py-2 text-base font-semibold hover:text-black"
                  >Case Studies</a
                >
              </li>
              <li class="cursor-pointer rounded-xl hover:bg-iesGreen-lightest">
                <a
                  href="/tradeshows"
                  class="inline-flex whitespace-nowrap px-4 py-2 text-base font-semibold hover:text-black"
                  >Tradeshows</a
                >
              </li>
              <li class="cursor-pointer rounded-xl hover:bg-iesGreen-lightest">
                <a
                  href="/privacy-policy"
                  class="inline-flex whitespace-nowrap px-4 py-2 text-base font-semibold hover:text-black"
                  >Privacy Policy</a
                >
              </li>
            </menu>
          </li>
          <li class="group relative">
            <a
              href="/"
              class="flex cursor-pointer items-center gap-4 whitespace-nowrap py-4 text-base font-semibold"
              ><span>Resources</span>
              <span
                ><svg
                  class="h-3 w-3 transform transition duration-300 group-hover:rotate-180"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 12 8"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    fill="currentColor"
                    d="M10.9997 1.16994C10.8123 0.983692 10.5589 0.87915 10.2947 0.87915C10.0305 0.87915 9.77707 0.983692 9.5897 1.16994L5.9997 4.70994L2.4597 1.16994C2.27234 0.983692 2.01889 0.87915 1.7547 0.87915C1.49052 0.87915 1.23707 0.983692 1.0497 1.16994C0.955976 1.26291 0.881582 1.37351 0.830813 1.49537C0.780044 1.61723 0.753906 1.74793 0.753906 1.87994C0.753906 2.01195 0.780044 2.14266 0.830813 2.26452C0.881582 2.38638 0.955976 2.49698 1.0497 2.58994L5.2897 6.82994C5.38267 6.92367 5.49327 6.99806 5.61513 7.04883C5.73699 7.0996 5.86769 7.12574 5.9997 7.12574C6.13172 7.12574 6.26242 7.0996 6.38428 7.04883C6.50614 6.99806 6.61674 6.92367 6.7097 6.82994L10.9997 2.58994C11.0934 2.49698 11.1678 2.38638 11.2186 2.26452C11.2694 2.14266 11.2955 2.01195 11.2955 1.87994C11.2955 1.74793 11.2694 1.61723 11.2186 1.49537C11.1678 1.37351 11.0934 1.26291 10.9997 1.16994Z"
                  ></path></svg></span
            ></a>
            <menu
              class="invisible absolute z-20 flex transform flex-col gap-4 rounded-xl bg-white p-4 text-black opacity-0 shadow-xl transition duration-500 group-hover:visible group-hover:translate-y-0 group-hover:opacity-100"
            >
              <li class="cursor-pointer rounded-xl hover:bg-iesGreen-lightest">
                <a
                  href="/media-library"
                  class="inline-flex whitespace-nowrap px-4 py-2 text-base font-semibold hover:text-black"
                  >Photo Galleries</a
                >
              </li>
              <li class="cursor-pointer rounded-xl hover:bg-iesGreen-lightest">
                <a
                  href="/sitemap"
                  class="inline-flex whitespace-nowrap px-4 py-2 text-base font-semibold hover:text-black"
                  >Site Map</a
                >
              </li>
            </menu>
          </li>
          <li>
            <a
              class="rounded-full bg-iesGreen px-6 py-3 text-slightly-white transition-all duration-200 ease-out hover:bg-iesGreen-light"
              href="/contact-us"
              >Request a Quote</a
            >
          </li>
        </menu>
      </nav>
    </div>
  </div>

  <aside class="flex h-full w-1/2 flex-1 justify-end xl:hidden">
    <h2 class="sr-only" id="mobile-navigation">Mobile navigation</h2>
    <div class="flex items-center">
      <label
        class="relative z-[9999] cursor-pointer px-3 py-6"
        for="ss-mobile-menu"
        ><input class="peer hidden" type="checkbox" id="ss-mobile-menu" />
        <div
          class="relative z-[10000] block h-[1px] w-7 bg-black bg-transparent content-[''] before:absolute before:top-[-0.35rem] before:z-[10000] before:block before:h-full before:w-full before:bg-black before:transition-all before:duration-200 before:ease-out before:content-[''] after:absolute after:bottom-[-0.35rem] after:right-0 after:block after:h-full after:w-full after:bg-black after:transition-all after:duration-200 after:ease-out after:content-[''] peer-checked:bg-transparent before:peer-checked:top-0 before:peer-checked:w-full before:peer-checked:rotate-45 before:peer-checked:transform after:peer-checked:bottom-0 after:peer-checked:w-full after:peer-checked:-rotate-45 after:peer-checked:transform"
        ></div>
        <div
          class="fixed inset-0 z-[9999] hidden h-full w-full bg-black/50 backdrop-blur-sm peer-checked:block"
        >
          &nbsp;
        </div>
        <div
          class="fixed right-0 top-0 z-[9999] h-full w-full translate-x-full overflow-y-auto overscroll-y-none transition duration-500 peer-checked:translate-x-0 peer-checked:shadow-black"
        >
          <div
            class="float-right min-h-full w-[85%] bg-white px-6 pt-12 shadow-2xl"
          >
            <a
              class="rounded-full bg-iesGreen px-6 py-3 text-slightly-white transition-all duration-200 ease-out hover:bg-iesGreen-light"
              href="/contact-us"
              >Request a Quote</a
            >

            <menu class="mb-8 mt-8 flex flex-col space-y-4 text-black">
              <li class="pb-4">
                <a href="/" class="whitespace-nowrap pb-1 font-semibold"
                  >Home</a
                >
              </li>
              <li>
                <a
                  href="/products-services"
                  class="whitespace-nowrap pb-1 font-semibold"
                  >Products & Services</a
                >
                <menu class="space-y-4 px-6 py-4 font-semibold">
                  <li>
                    <a
                      href="/acoustic-blankets-rolls-quilted-fiberglass"
                      class="pb-1"
                      >Acoustic Blankets & Rolls: Quilted Fiberglass</a
                    >
                  </li>
                  <li>
                    <a href="/acoustic-doors-and-acoustic-windows" class="pb-1"
                      >Acoustic Doors & Windows</a
                    >
                  </li>
                  <li>
                    <a href="/acoustic-foams" class="pb-1">Acoustic Foams</a>
                  </li>
                  <li>
                    <a href="/duct-lagging" class="pb-1">Duct Lagging</a>
                  </li>
                  <li>
                    <a href="/fabric-panels-ceiling-products" class="pb-1"
                      >Fabric Panels/Ceiling Products</a
                    >
                  </li>
                  <li>
                    <a href="/silencers-louvers" class="pb-1"
                      >HVAC Duct Silencers & Vent Noise Silencers</a
                    >
                  </li>
                  <li>
                    <a href="/industrial-noise-control-engineering" class="pb-1"
                      >Industrial Noise Control Engineering</a
                    >
                  </li>
                  <li>
                    <a href="/acoustic-curtains" class="pb-1"
                      >Industrial Sound & Acoustic Barrier Curtains</a
                    >
                  </li>
                  <li>
                    <a href="/oem-enclosures" class="pb-1">OEM Enclosures</a>
                  </li>
                  <li>
                    <a href="/acoustic-outdoor-barrier-walls" class="pb-1"
                      >Outdoor Sound Barrier Walls & Soundproof Panels</a
                    >
                  </li>
                  <li>
                    <a href="/outdoor-sound-curtains" class="pb-1"
                      >Outdoor Sound Curtains</a
                    >
                  </li>
                  <li>
                    <a href="/acoustical-enclosures" class="pb-1"
                      >Sound Proof & Acoustical Enclosures</a
                    >
                  </li>
                  <li>
                    <a href="/damping-sheets-compounds" class="pb-1"
                      >Vibration Damping Sheets & Damping Compounds</a
                    >
                  </li>
                </menu>
              </li>
              <li>
                <a href="/" class="whitespace-nowrap pb-1 font-semibold"
                  >By Application</a
                >
                <menu class="space-y-4 px-6 py-4 font-semibold">
                  <li>
                    <a href="/architectural-sound-products" class="pb-1"
                      >Architectural Sound & Acoustics</a
                    >
                  </li>
                  <li>
                    <a href="/outdoor-construction-noise-control" class="pb-1"
                      >Construction/Outdoor Noise Control & Reduction</a
                    >
                  </li>
                  <li>
                    <a href="/industrial-noise-control-products" class="pb-1"
                      >Industrial Noise Control & Reduction</a
                    >
                  </li>
                </menu>
              </li>
              <li>
                <a href="/" class="whitespace-nowrap pb-1 font-semibold"
                  >Company</a
                >
                <menu class="space-y-4 px-6 py-4 font-semibold">
                  <li>
                    <a href="/about-us" class="pb-1">About Us</a>
                  </li>
                  <li>
                    <a href="/case-studies" class="pb-1">Case Studies</a>
                  </li>
                  <li>
                    <a href="/tradeshows" class="pb-1">Tradeshows</a>
                  </li>
                  <li>
                    <a href="/privacy-policy" class="pb-1">Privacy Policy</a>
                  </li>
                </menu>
              </li>
              <li>
                <a href="/" class="whitespace-nowrap pb-1 font-semibold"
                  >Resources</a
                >
                <menu class="space-y-4 px-6 py-4 font-semibold">
                  <li>
                    <a href="/media-library" class="pb-1">Photo Galleries</a>
                  </li>
                  <li>
                    <a href="/sitemap" class="pb-1">Site Map</a>
                  </li>
                </menu>
              </li>
            </menu>
          </div>
        </div></label
      >
    </div>
  </aside>
</nav>
