<footer class="border-t bg-slightly-white py-24">
  <div class="container m-auto px-10">
    <div
      class="grid grid-cols-1 justify-between gap-12 sm:grid-cols-3 lg:grid-cols-6"
    >
      <div
        class="row-start-6 flex flex-col gap-6 sm:col-start-2 sm:row-start-3 lg:col-start-1 lg:row-auto"
      >
        <a href="/" title="IES2000" class="max-w-64" translate="no">
          <img src="/public/images/logo-ies.svg" alt="ies2000 logo" />
        </a>
        <div class="flex gap-6">
          <span class="transform hover:scale-105"
            ><a
              href="https://twitter.com/IESNoiseControl/"
              aria-label="IES2000 Twitter / X Account"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                class="bi bi-twitter-x text-neutral-700 hover:text-[#000000]"
                viewBox="0 0 16 16"
              >
                <path
                  d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"
                />
              </svg> </a
          ></span>
          <span class="transform hover:scale-105"
            ><a
              href="https://www.linkedin.com/company/ies-2000-oh-llc/"
              aria-label="IES2000 Linkedin Account"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                class="bi bi-linkedin text-neutral-700 hover:text-[#0077B5]"
                viewBox="0 0 16 16"
              >
                <path
                  d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"
                />
              </svg> </a
          ></span>
          <span class="transform hover:scale-105"
            ><a
              href="https://www.facebook.com/ies2000/"
              aria-label="IES2000 Facebook Account"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                class="bi bi-facebook text-neutral-700 hover:text-[#4267B2]"
                viewBox="0 0 16 16"
              >
                <path
                  d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"
                />
              </svg> </a
          ></span>
        </div>
        <div class="mt-auto">
          <span class="text-xs"
            >Copyright © <span id="year">2024</span> by IES2000, <br />
            All rights reserved.</span
          >
        </div>
      </div>
      <menu
        class="row-start-5 flex flex-col sm:col-start-3 sm:row-start-2 lg:col-start-2 lg:row-auto"
      >
        <p class="mb-8 font-bold text-neutral-700">Contact Us</p>
        <ul>
          <li class="mb-4 text-sm text-neutral-600">
            <address class="font-noraml">
              PO Box 770 <br />
              St. Paris, OH 43072
            </address>
          </li>
        </ul>
        <div>
          <ul>
            <li class="text-sm text-neutral-600">
              Phone:
              <a class="underline" href="tel:+18772488640">(877) 248-8640</a>
            </li>
            <li class="text-sm text-neutral-600">Fax: (937) 663-0678</li>
            <li class="text-sm text-neutral-600">
              <a class="underline" href="mailto:info@ies2000.com"
                >info@ies2000.com</a
              >
            </li>
          </ul>
        </div>
      </menu>
      <menu
        class="flex flex-col sm:col-start-1 sm:row-span-2 sm:row-start-1 lg:col-start-3 lg:row-auto"
      >
        <p class="mb-8 font-bold text-neutral-700">Products & Services</p>
        <menu class="flex flex-col gap-4">
          <ul>
            <li class="text-sm text-neutral-600">
              <a href="/acoustic-blankets-rolls-quilted-fiberglass"
                >Acoustic Blankets & Rolls: Quilted Fiberglass</a
              >
            </li>
            <li class="text-sm text-neutral-600">
              <a href="/acoustic-doors-and-acoustic-windows"
                >Acoustic Doors & Windows</a
              >
            </li>
            <li class="text-sm text-neutral-600">
              <a href="/acoustic-foams">Acoustic Foams</a>
            </li>
            <li class="text-sm text-neutral-600">
              <a href="/duct-lagging">Duct Lagging</a>
            </li>
            <li class="text-sm text-neutral-600">
              <a href="/fabric-panels-ceiling-products"
                >Fabric Panels/Ceiling Products</a
              >
            </li>
            <li class="text-sm text-neutral-600">
              <a href="/silencers-louvers"
                >HVAC Duct Silencers & Vent Noise Silencers</a
              >
            </li>
            <li class="text-sm text-neutral-600">
              <a href="/industrial-noise-control-engineering"
                >Industrial Noise Control Engineering</a
              >
            </li>
            <li class="text-sm text-neutral-600">
              <a href="/acoustic-curtains"
                >Industrial Sound & Acoustic Barrier Curtains</a
              >
            </li>
            <li class="text-sm text-neutral-600">
              <a href="/oem-enclosures">OEM Enclosures</a>
            </li>
            <li class="text-sm text-neutral-600">
              <a href="/acoustic-outdoor-barrier-walls"
                >Outdoor Sound Barrier Walls & Soundproof Panels</a
              >
            </li>
            <li class="text-sm text-neutral-600">
              <a href="/outdoor-sound-curtains">Outdoor Sound Curtains</a>
            </li>
            <li class="text-sm text-neutral-600">
              <a href="/acoustical-enclosures"
                >Sound Proof & Acoustical Enclosures</a
              >
            </li>
            <li class="text-sm text-neutral-600">
              <a href="/damping-sheets-compounds"
                >Vibration Damping Sheets & Damping Compounds</a
              >
            </li>
          </ul>
        </menu>
      </menu>
      <menu class="flex flex-col lg:col-start-4">
        <p class="mb-8 font-bold text-neutral-700">By Application</p>
        <menu class="flex flex-col gap-4">
          <ul>
            <li class="text-sm text-neutral-600">
              <a href="/architectural-sound-products"
                >Architectural Sound & Acoustics
              </a>
            </li>
            <li class="text-sm text-neutral-600">
              <a href="/construction-outdoor-noise-control-products"
                >Construction/Outdoor Noise Control & Reduction</a
              >
            </li>
            <li class="text-sm text-neutral-600">
              <a href="/industrial-noise-control-products"
                >Industrial Noise Control & Reduction</a
              >
            </li>
          </ul>
        </menu>
      </menu>
      <menu class="flex flex-col lg:col-start-5">
        <p class="mb-8 font-bold text-neutral-700">Company</p>
        <menu class="flex flex-col gap-4">
          <ul>
            <li class="text-sm text-neutral-600">
              <a href="/about-us">About Us</a>
            </li>
            <li class="text-sm text-neutral-600">
              <a href="/case-studies">Case Studies</a>
            </li>
            <li class="text-sm text-neutral-600">
              <a href="/tradeshows">Tradeshows</a>
            </li>
            <li class="text-sm text-neutral-600">
              <a href="/privacy-policy">Privacy Policy</a>
            </li>
          </ul>
        </menu>
      </menu>
      <menu class="flex flex-col lg:col-start-6">
        <p class="mb-8 font-bold text-neutral-700">Resources</p>
        <menu class="flex flex-col gap-4">
          <ul>
            <li class="text-sm text-neutral-600">
              <a href="/photo-gallery">Photo Gallery</a>
            </li>
            <li class="text-sm text-neutral-600">
              <a href="/sitemap">Sitemap</a>
            </li>
          </ul>
        </menu>
      </menu>
    </div>
  </div>
</footer>
