<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/png" href="public/favicons/favicon.png" />
    <link
      rel="apple-touch-icon"
      type="image/png"
      href="public/favicons/apple-touch-icon.png"
    />
    <link rel="manifest" href="manifest.webmanifest" />

    <link rel="stylesheet" href="/global.css" />
    <link rel="stylesheet" href="/public/css/custom.min.css" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="keywords" content="{{ tags }}" />
  </head>
  <body class="">
    <header>{% include "components/_nav.html" %}</header>
    <main>
      {% block content %}
      <!--  -->
      {% endblock %}
    </main>
    {% include "components/_footer.html" %}
    <script src="/public/js/updateyear.js"></script>
  </body>
</html>
