{% extends 'layouts/base.html' %}
<!--  -->
{% set title = "Outdoor Sound Barrier Walls & Soundproof Panels" %}
<!--  -->
{% set pageTitle = "Outdoor Sound Barrier Walls & Soundproof Panels" %}
<!--  -->
{% set description = "Our Outdoor Sound Curtains can be used for both active
Construction Sites and for many different Community Noise situations. They can
be used in conjunction with a chain link fence to surround a noisy area or to
line a noisy building, and at IES-2000, we can design a solution to meet your
design specifications." %}
<!--  -->
{% block content %}

<!-- IMAGE AND TITLE -->
<section
  class="relative flex h-[350px] items-center bg-[url('/public/images/page_headers/ies2000_acoustic_outdoor_barrier_walls.jpg')] bg-cover bg-center bg-no-repeat"
>
  {% include 'components/_image-title.html' %}
</section>

<!-- OUTDOOR SOUND BARRIER WALLS & SOUNDPROOF PANELS -->
<section class="bg-slightly-white py-24">
  <section class="container mx-auto max-w-screen-md px-10">
    <div class="container m-auto">
      <h2 class="main-header">
        Outdoor Sound Barrier Walls & Soundproof Panels
      </h2>
      <div class="mb-8 text-neutral-500">
        <p class="mb-6 leading-normal">
          Ground Mounted or Rooftop Applications. For any place noise is a
          problem, outdoor Acoustic-Barrier is the solution.
        </p>
        <p class="mb-6 leading-normal"></p>
      </div>

      <div class="mb-8">
        <h4 class="subheader">Common Applications</h4>
        <ul
          class="list-inside list-disc text-neutral-500 sm:grid sm:grid-cols-2 sm:gap-4"
        >
          <li class="mb-4">HVAC Mechanical Equipment</li>
          <li class="mb-4">Salvage Yards</li>
          <li class="mb-4">Power Plants</li>
          <li class="mb-4">Rail Yards</li>
          <li class="mb-4">Highways</li>
          <li class="mb-4">Generators</li>
          <li class="mb-4">Carwashes</li>
          <li class="mb-4">Transformers</li>
          <li class="mb-4">Manufacturing Facilities</li>
        </ul>
      </div>

      <div class="mb-8 text-neutral-500">
        <p class="mb-6 leading-normal">
          Outdoor sound barrier walls and panels are normally used to place a
          sound barrier between a noise source and a target population. This
          outdoor acoustic barrier creates a “sound shadow” zone of quiet that
          can be tailored to cover almost any size area either indoors or out.
          When you contact IES-2000, LLC, we work with you from beginning to
          end. Our goal isn’t to sell you equipment; it’s to create a solution
          for your particular problem. We’ll help design your outdoor sound
          barrier panels from the ground up to protect your particular
          environment at the lowest cost possible. Whether you need to protect
          an entire neighborhood or just a portion of one building, IES-2000,
          LLC. has an acoustic sound barrier wall solution for you.
        </p>
        <p class="mb-6 leading-normal">
          Regardless of the size of your job, we have the right mix of one-sided
          or two-sided, sound absorbing or reflecting materials, to reduce noise
          levels without breaking your budget. Absorptive noise control barriers
          and outdoor soundproof panels provide maximum noise reduction with
          lightweight modular panels and/or louvers. The noise barrier system is
          easy to install and easy to relocate. Outdoor soundproof panels and
          louvers are constructed of galvanized steel or aluminum and finish
          painted in a weather resistant polyester powder coating. The finish is
          also graffiti resistant and cleanable.
        </p>
        <p class="mb-6 leading-normal">
          An existing wall can be lined with Acousti – Barrier sound-absorbing
          cladding panels as an effective, cost-efficient method of reducing
          reflected sound. Our acoustic sound barrier wall design services
          include layout, structural steel support framework, foundation design
          (for ground level barriers), access doors and certified calculations
          including P.E. or S.E. stamp. Perfect for new construction or retrofit
          to an existing structure.
        </p>
        <p class="mb-6 leading-normal">
          Acoustic sound barrier walls are used to block sound transmission
          between a noise source and the target location. Outdoor sound barrier
          wall panels create a “sound shadow” quiet zone that can be tailored to
          cover any size. This can be either outdoors or indoors. These acoustic
          outdoor sound barrier walls provide excellent solutions for various
          commercial businesses, and industrial zones by noise levels.
        </p>
        <p class="mb-6 leading-normal">
          At IES2000, we have outdoor soundproof panels that are easy to
          install. Outdoor sound barrier panels are also easy to relocate
          whenever you have to. Furthermore, our acoustic soundproof panels are
          made of aluminum or galvanized steel, making them durable and
          effective. They are also painted with a resistant polyester powder
          coating that prevents possible damages. This finishing is also
          cleanable and graffiti resistant.
        </p>
      </div>

      <div class="mb-8">
        <h4 class="subheader">Why our Acoustic Outdoor Barrier Walls</h4>
        <ul
          class="list-inside list-disc text-neutral-500 sm:grid sm:grid-cols-2 sm:gap-4"
        >
          <li class="mb-4">Lightweight & Portable</li>
          <li class="mb-4">Durable Materials</li>
          <li class="mb-4">Unlimited Colors</li>
          <li class="mb-4">Flexible Installation</li>
          <li class="mb-4 sm:mb-0">Water Resistant</li>
          <li class="">Chemical Resistant</li>
        </ul>
      </div>

      <h4 class="subheader">Product Features</h4>
      <ul
        class="list-inside list-disc text-neutral-500 sm:grid sm:grid-cols-2 sm:gap-4"
      >
        <li class="mb-4">Lightweight</li>
        <li class="mb-4">Durable</li>
        <li class="mb-4">Unlimited color selection</li>
        <li class="mb-4">Galvanized, aluminum, or stainless steel</li>
        <li class="mb-4">Free Standing or Elevated Construction</li>
        <li class="mb-4">Two, four, or five-inch thicknesses</li>
        <li class="mb-4">Easy installation and removal</li>
        <li class="mb-4">Horizontal or vertical installation</li>
        <li class="mb-4">
          Maximum flexibility of design and utility on the ground or on the
          rooftop
        </li>
        <li class="mb-4">One– or two-sided sound absorption</li>
        <li class="mb-4">Self-draining</li>
        <li class="mb-4">Maximum acoustical performance</li>
        <li class="mb-4">
          All products tested (STC 37 above, NRC 0.95 above)10 year warranty
          Weather resistant
        </li>
        <li class="mb-4">
          Perfect for retrofit installation to solve existing noise problems.
        </li>
        <li class="mb-4">
          Low-weight construction ideal for roof or bridge mounted applications
        </li>
        <li class="mb-4">Designed to withstand high wind loads</li>
        <li class="mb-4">
          Barrier modules are designed and built to minimize water invasion
        </li>
        <li class="mb-4">
          Panels resist “wicking” moisture through the bottom and are
          self-draining
        </li>
        <li class="mb-4">
          Exterior finishes resist harsh cleaners, common chemicals, and salt
          exposure
        </li>
        <li class="mb-4">Poly powder coating</li>
        <li class="mb-4">Graffiti resistant</li>
      </ul>

      <div class="pb-3 pt-10">
        <a
          class="rounded-full bg-iesGreen px-6 py-3 text-slightly-white transition-all duration-200 ease-out hover:bg-iesGreen-light"
          href="/public/pdf/ies2000datasheet-acousticblanketsrolls.pdf"
          target="_blank"
          rel="noopener"
          >Download Product Brochure</a
        >
      </div>
    </div>
  </section>
</section>

{% include 'components/_want-help-contact-us.html' %}
<!--  -->
{% endblock %}
