{% extends 'layouts/base.html' %}
<!--  -->
{% set title = "Sound Proof & Acoustical Enclosures" %}
<!--  -->
{% set pageTitle = "Sound Proof & Acoustical Enclosures" %}
<!--  -->
{% set description = "Barrier Walls are generally installed where a sound
barrier is needed between a noise source and a target population. Whether indoor
or out, absorptive noise control barriers provide maximum noise reduction with
lightweight modular panels and/or louvers." %}
<!--  -->
{% block content %}

<!-- IMAGE AND TITLE -->
<section
  class="relative flex h-[350px] items-center bg-[url('/public/images/page_headers/ies2000_acoustic_enclosures2.jpg')] bg-cover bg-center bg-no-repeat"
>
  {% include 'components/_image-title.html' %}
</section>

<!-- SOUND PROOF & ACOUSTICAL ENCLOSURES -->
<section class="bg-slightly-white py-24">
  <section class="container mx-auto max-w-screen-md px-10">
    <div class="container m-auto">
      <h2 class="main-header">Modular Systems</h2>
      <div class="mb-8 text-neutral-500">
        <p class="mb-6 leading-normal">
          Our acoustical enclosures include ceiling and wall panels, windows,
          doors, and silenced ventilation systems. When necessary, access
          panels, isolated floors, and ceiling panels are also available. Our
          modular systems are expertly rated by independent testing labs to
          ensure that they are perfect for various noise reduction applications.
          Furthermore, our noise control specialist and support personnel are
          highly experienced and will assist you in the supply, design, and
          installation of noise reduction enclosures.
        </p>
        <p class="mb-6 leading-normal">
          IES-2000, LLC. technical support personnel and noise control
          specialist have the experience to assist you in the acoustical
          enclosures design, supply and installation of your noise control
          solutions. Submittal packages include drawings and easy to follow,
          step-by-step instructions to allow your personnel to install any
          modular system. We can also offer noise control enclosures
          professional installation service or supervision of your crew.
        </p>
      </div>

      <div class="mb-8">
        <h4 class="subheader">The IES-2000, Inc. modular system:</h4>
        <ul class="list-inside list-disc text-neutral-500">
          <li class="mb-4">
            Guaranteed acoustical enclosures performance (single source
            responsibility)
          </li>
          <li class="mb-4">Easy and quick to install, move or reconfigure</li>
          <li class="mb-4">Standard components-custom solutions</li>
          <li class="mb-4">No construction mess</li>
          <li class="mb-4">Tax benefits</li>
        </ul>
      </div>

      <div>
        <h4 class="subheader">
          Acoustical Enclosures - Modular Systems Application
        </h4>
        <div class="mb-4 text-neutral-500">
          <p class="leading-normal">
            They are various applications for acoustical enclosures.
          </p>
        </div>
        <div class="mb-8 grid grid-cols-1 gap-8">
          <div class="rounded-lg bg-iesGreen-lightest px-8 py-4">
            <h3 class="mb-2 font-semibold">Machinery Enclosures</h3>
            <p class="text-neutral-500">
              There are machines that tend to produce a lot of noise when
              operating. You will need soundproof, noise control enclosures to
              prevent the noise from transmitting to other areas. IES2000 has
              experienced noise control specialists for sound proof enclosures,
              acoustical enclosures, and HVAC noise control.
            </p>
          </div>
          <div class="rounded-lg bg-iesGreen-lightest px-8 py-4">
            <h3 class="mb-2 font-semibold">Printing Plant Quiet Rooms</h3>
            <p class="text-neutral-500">
              Printing plants involve a high-volume printing operation that
              produces high sound levels. As a result, it can get very
              distractive, especially if there are workstations nearby. Our
              noise control consultants will help prevent this, recommending
              noise control solutions that will help absorb the noises produced.
            </p>
          </div>
          <div class="rounded-lg bg-iesGreen-lightest px-8 py-4">
            <h3 class="mb-2 font-semibold">Quality Control Test Areas</h3>
            <p class="text-neutral-500">
              IES2000 offers building envelope elements for soundproof test
              rooms, test benches, and test rigs in all the industrial sectors
              of activity. Our soundproof enclosures can be used in research
              institutions, engineering schools, and cooperate sectors, among
              others.
            </p>
          </div>
          <div class="rounded-lg bg-iesGreen-lightest px-8 py-4">
            <h3 class="mb-2 font-semibold">HVAC Noise Control</h3>
            <p class="text-neutral-500">
              Our acoustical enclosures and noise reduction enclosures are one
              of the most reliable HVAC noise control solutions. They help
              reduce the transmission of noise and sound through modular
              systems. Flat acoustic foam and duct silencers are commonly used
              to help decrease sound transmission.
            </p>
          </div>
          <div class="rounded-lg bg-iesGreen-lightest px-8 py-4">
            <h3 class="mb-2 font-semibold">Test Cells</h3>
            <p class="text-neutral-500">
              Test cells need minimum sound transmissions from the inner side to
              the outer side of the test room. They also need to create a
              specific type of sound propagation. Our modular noise reduction
              enclosures will help achieve this.
            </p>
          </div>
        </div>
      </div>

      <div class="mb-8">
        <h4 class="subheader">Why Our Modular Systems</h4>
        <ul class="list-inside list-disc text-neutral-500">
          <li class="mb-4">
            They are easy and quick to install, reconfigure, or move.
          </li>
          <li class="mb-4">
            They guarantee high-quality acoustic performance.
          </li>
          <li class="mb-4">
            They offer custom solutions by being standard components.
          </li>
        </ul>
      </div>

      <div class="mb-8">
        <h4 class="subheader">Flexibility</h4>
        <ul class="list-inside list-disc text-neutral-500">
          <li class="mb-4">Unlimited size, design and features</li>
          <li class="mb-4">
            Multiple panel types to meet your specific requirements
          </li>
          <li class="mb-4">Interior or exterior use</li>
          <li class="mb-4">
            Electric posts available for outlets and switches
          </li>
        </ul>
      </div>

      <div class="mb-8">
        <h4 class="subheader">Accessibility</h4>
        <ul class="list-inside list-disc text-neutral-500">
          <li class="mb-4">Single leaf and double leaf doors</li>
          <li class="mb-4">
            Sliding doors, pocket doors and bi-fold doors available
          </li>
          <li class="mb-4">Hinged and removable access plugs</li>
          <li class="mb-4">Removable panels</li>
          <li class="mb-4">Single glazed or double glazed windows</li>
        </ul>
      </div>

      <div class="">
        <h4 class="subheader">Modular System</h4>
        <ul class="list-inside list-disc text-neutral-500">
          <li class="mb-4">Can be used as a barrier wall</li>
          <li class="mb-4">
            Can be used as a two- or three-sided HVAC noise control enclosure
            tied into existing building walls
          </li>
          <li class="mb-4">
            Can be used as a four- sided sound proof enclosures
          </li>
          <li class="mb-4">
            All design configurations available with or without roof
          </li>
          <li class="mb-4">System flexibility permits angled walls</li>
          <li class="mb-4">Isolated floors are available</li>
          <li class="mb-4">
            Silenced ventilation systems are designed to meet your specific
            requirement
          </li>
          <li class="mb-4">
            Noise reduction enclosures can be relocated or reconfigured at a
            later date
          </li>
          <li class="mb-4">
            Pre-engineered modular system “kit” includes all components
            necessary to complete your noise control solutions
          </li>
          <li class="mb-4">
            All materials are non-combustiblePanels and connectors are
            constructed of A60 “paint- ready” Galvanneal steelG90 spangled
            galvanized construction is available
          </li>
          <li class="mb-4">
            Prime painting or finish polyester powder coat paint available in a
            wide selection of color
          </li>
          <li class="mb-4">
            Modular noise control solutions to Noise Problems
          </li>
          <li class="mb-4">Machinery Enclosures</li>
          <li class="mb-4">Test Cells</li>
          <li class="mb-4">Printing Plant Quiet Rooms</li>
          <li class="mb-4">Barrier Walls</li>
          <li class="mb-4">Quality Control Test Areas</li>
          <li class="mb-4">Thermal Spray Rooms</li>
          <li class="mb-4">Coordinate Measuring Machine Rooms</li>
          <li class="mb-4">Process Enclosures</li>
          <li class="mb-4">Factory Offices</li>
          <li class="mb-4">Control Rooms</li>
          <li class="mb-4">Power Plant Offices</li>
          <li class="mb-4">Guard Houses</li>
          <li class="mb-4">Quiet Rooms-Single or Double Wall</li>
          <li class="mb-4">HVAC Plenums</li>
          <li class="mb-4">Blower Acoustical Enclosures</li>
          <li class="mb-4">Compressor Enclosures</li>
          <li class="mb-4">Recording Studios</li>
          <li class="mb-4">Broadcasting Facilities</li>
          <li class="mb-4">Educational Study Centers</li>
          <li class="mb-4">Music Practice Rooms</li>
          <li class="mb-4">Voice Isolation Booths</li>
          <li class="mb-4">Audiometric Test Rooms</li>
          <li class="">Hearing or Speech Test Centers</li>
        </ul>
      </div>

      <div class="pb-3 pt-10">
        <a
          class="rounded-full bg-iesGreen px-6 py-3 text-slightly-white transition-all duration-200 ease-out hover:bg-iesGreen-light"
          href="/public/pdf/ies2000datasheet-acousticblanketsrolls.pdf"
          target="_blank"
          rel="noopener"
          >Download Product Brochure</a
        >
      </div>
    </div>
  </section>
</section>

{% include 'components/_want-help-contact-us.html' %}
<!--  -->
{% endblock %}
