{% extends 'layouts/base.html' %}
<!--  -->
{% set title = "Acoustic Foams" %}
<!--  -->
{% set pageTitle = "Acoustic Foams" %}
<!--  -->
{% set description = "Acoustic foams are available in a variety of materials
including composite, melamine and polyurethane providing high transmission loss,
noise reduction and damping in a wide variety of applications." %}
<!--  -->
{% block content %}

<!-- IMAGE & TITLE -->
<section
  class="relative flex h-[400px] items-center bg-[url('/public/images/page_headers/ies2000_acoustic_foams.jpg')] bg-cover bg-center bg-no-repeat"
>
  {% include 'components/_image-title.html' %}
</section>

<!-- ACOUSTIC FOAMS -->
<!-- <section class="bg-slightly-white pt-24">
  <section class="container mx-auto max-w-screen-md px-10">
    <div class="container m-auto">
      <h2 class="main-header m-0">Acoustic Foams</h2>
    </div>
  </section>
</section> -->

<!-- COMPOSITE FOAM -->
<section class="bg-slightly-white py-24">
  <section class="container mx-auto max-w-screen-md px-10">
    <div class="container m-auto">
      <div>
        <h3 class="secondary-header">Composite Foam</h3>
        <div class="mb-8 text-neutral-500">
          <p class="mb-6 leading-normal">
            Acousti-Composite is a noise control material specifically designed
            to achieve maximum attenuation over a broad frequency range.
            Acousti-Composite combines dense, limp, flexible, non-lead loaded
            barriers with Acousti-Foams providing a total noise control system.
            Unlike other composites available, these multilayer systems are
            manufactured without costly adhesives, thus eliminating the
            potential for failure between layers.
          </p>
          <p class="mb-6 leading-normal">
            PDF Spec Sheets:
            <a
              target="_blank"
              class="text-iesGreen underline"
              href="/public/pdf/ies2000datasheet-acousticfoams.pdf"
              >Composite Foam</a
            >
          </p>
        </div>

        <!-- OPTIMIZED FOR -->
        <div class="mb-8">
          <h4 class="subheader">
            Designed by acoustical engineers, Acousti-Composite has been
            optimized to economically provide:
          </h4>
          <div class="text-neutral-500">
            <ul class="list-inside list-disc text-neutral-500">
              <li class="mb-4">
                High Transmission Loss - the barrier's ability to impede
                airborne noise.
              </li>
              <li class="mb-4">
                High Noise Reduction Coefficients - the foam's ability to absorb
                airborne sound energy with minimum reflections.
              </li>
              <li class="mb-4">
                Damping - the composite's ability to attenuate structure-borne
                vibration on metals and plastics. Thereby reducing reradiated
                noise and material fatigue.
              </li>
            </ul>
          </div>
        </div>
        <div class="text-neutral-500">
          <p class="leading-normal">
            The diversity of constructions makes possible engineered solutions
            for most OEM and in-plant applications. Acousti-Composite is
            available with single and double layer septums, various barrier
            weights, foam thicknesses and a variety of surface treatments.
            Composite is available in rolls, sheets, die cut or fabricated to
            customer specifications or can be easily field cut with a knife or
            scissors. These composites can be adhered to the substrate with
            factory supplied, economical, SBR pressure sensitive adhesive or an
            acrylic based pressure sensitive adhesive for temperatures up to
            250°F. It is recommended that a contact adhesive or mechanical
            fasteners be used for these heavily loaded composites in overhead
            applications.
          </p>
        </div>
      </div>
    </div>
  </section>
</section>

<!-- MELAMIN FOAM -->
<section class="bg-iesGreen-lightest py-24">
  <section class="container mx-auto max-w-screen-md px-10">
    <div class="container m-auto">
      <div>
        <h3 class="secondary-header">Melamine Foam</h3>
        <div class="mb-8 text-neutral-500">
          <img
            class="float-right w-3/6 ps-10"
            width="300px"
            height="150px"
            src="/public/images/ies2000_acoustic_foam_melamine1.jpg"
            alt="acoustic foam melamine"
          />
          <p class="mb-6 leading-normal">
            Melamine is a lightweight, high temperature resistant, open cell
            foam manufactured from melamine resin. It combines excellent thermal
            properties with superior sound absorption capabilities to create a
            versatile fiber free product which can be applied in situations
            which may prohibit the use of urethane foams or fiberglass
            insulations. This fire retardant foam meets the flame spread, smoke
            density and fuel contribution requirements necessary to comply with
            Class-l building code regulations. The high performance thermal and
            acoustical characteristics of this flexible, low density foam make
            it an ideal product for in-plant and FDA approved applications. In
            addition to being the solution to aircraft and architectural noise
            problems, Acousti-Foam Melamine Foam is the material to use in OEM
            products requiring a combination of thermal and acoustical
            insulation capabilities. Optional facings can be applied for more
            durability and chemical resistance as well as pressure sensitive
            adhesive for ease of installation. Standard Sizes - Sheets: 24: x
            48″, 48″ x 48″, 48″ x 96″ Standard Thickness: 1/4″ to 18″
          </p>
          <p class="mb-6 leading-normal">
            PDF Spec Sheets:
            <a
              target="_blank"
              class="text-iesGreen underline"
              href="/public/pdf/ies2000datasheet-acousticfoams.pdf"
              >Melamine Foam</a
            >
          </p>
        </div>

        <!-- PRODUCT DATA -->
        <div class="mb-8">
          <h4 class="subheader">Product Data</h4>
          <div class="text-neutral-500">
            <ul class="list-inside list-disc text-neutral-500">
              <li class="mb-4">Color: White</li>
              <li class="mb-4">Density: .7 Ib/ft3 ASTM D3574-86 test A</li>
              <li class="mb-4">
                Tear Strength: .5 ppi per ASTM D3574-86 test F
              </li>
              <li class="mb-4">
                Tensile Strength: 18 psi per ASTM D3574-86 test E
              </li>
              <li class="mb-4">Elongation: 15% per ASTM D3574-86 test E</li>
              <li class="mb-4">
                Flammability: UL 94VO, UL-94 HF-1, UL 94-5,and FAR 25.853(a)
                ASTM E84
              </li>
              <li class="mb-4">
                Flame: 2.5; Smoke: 16.9 ASTM E162 Pass 662 Pass Boeing ATS
                1000.001 Pass
              </li>
              <li class="mb-4">
                Thermal Conductivity: BTU/hr., Ft.2, °F/in.; .25 per ASTM C 177
              </li>
              <li class="mb-4">
                Temperature: -45°F – 302°F Continuous; to 400°F Intermittent
              </li>
            </ul>
          </div>
          <div class="mb-8 text-neutral-500">
            <p class="mb-6 leading-normal">
              Many applications require these products to be subjected to
              environments such as dirt, moisture, chemicals, and abrasion that
              could be hostile to an unprotected foam. IES-2000 has developed
              various surface treatments to protect the integrity of the foam
              from these elements. These facings will increase the absorption
              properties at certain frequencies as well as provide a cleanable,
              decorative and durable finish for a wide variety of applications.
            </p>
          </div>
        </div>

        <!-- FACINGS -->
        <div class="mb-8 md:mb-0 md:flex md:justify-between">
          <div>
            <h4 class="subheader">Optional Facings Available</h4>
            <div class="mb-8 text-neutral-500 md:mb-0">
              <ul class="list-inside list-disc text-neutral-500">
                <li class="mb-4">Aluminized Polyester</li>
                <li class="mb-4">Reinforced Aluminized Polyester</li>
                <li class="mb-4">Urethane Films (matte or impervious)</li>
                <li class="mb-4">Tedlar® (trademark E.I. Dupont Co.)</li>
                <li class="mb-4">Perforated Vinyl</li>
                <li class="mb-4">Convoluted</li>
                <li class="mb-4">Embossed</li>
                <li class="">Customized Facings Available</li>
              </ul>
            </div>
          </div>
          <div>
            <h4 class="subheader">Pressure Sensitive Adhesive</h4>
            <div class="text-neutral-500">
              <ul class="list-inside list-disc text-neutral-500">
                <li class="mb-4">Supported SBR (temps to 140°F)</li>
                <li class="mb-4">Supported Acrylic (temps to 250°)</li>
                <li class="">Unsupported Acrylic (temps to 250°)</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<!-- POLYURETHANE FOAM -->
<section class="bg-slightly-white py-24">
  <section class="container mx-auto max-w-screen-md px-10">
    <div class="container m-auto">
      <div>
        <h3 class="secondary-header">Polyurethane Foam</h3>
        <div class="mb-8 text-neutral-500">
          <img
            class="float-right w-3/6 ps-10"
            width="300px"
            height="150px"
            src="/public/images/ies2000_acoustic_foam_polyurethane1.jpg"
            alt="acoustic foam polyurethane"
          />
          <p class="mb-6 leading-normal">
            Acousti-Foam acoustical foams are designed to provide maximum
            absorption of airborne sound with minimum thickness and weight.
            These flexible polyurethane open cell foam products are manufactured
            to optimize pore size, air flow resistance, and density. Sound
            energy, passing through the cell structure, is converted into minute
            quantities of low grade heat that is easily dissipated. Since the
            uniformity of the cells are carefully controlled the efficiency is
            constant and predictable from one installation to another. Many
            applications require these products to be subjected to environments
            such as dirt, moisture, chemicals, and abrasion that could be
            hostile to an unprotected foam. IES-2000, Inc. has developed various
            surface treatments to protect the integrity of the foam from these
            elements. These facings will increase the absorption properties at
            certain frequencies as well as provide a cleanable, decorative and
            durable finish for a wide variety of applications. Acousti-Foams can
            be purchased in rolls or sheets, and can be die cut, or fabricated
            to customer specifications. They are easily cut with a knife, saw or
            scissors. The addition of pressure sensitive adhesive provides a
            convenient method of fastening to most substrates.
          </p>
          <p class="mb-6 leading-normal">
            PDF Spec Sheets:
            <a
              target="_blank"
              class="text-iesGreen underline"
              href="/public/pdf/ies2000datasheet-acousticfoams.pdf"
              >Polyurethane Foam</a
            >
          </p>
        </div>

        <!-- FACINGS -->
        <div class="mb-8 md:flex md:justify-between">
          <div>
            <h4 class="subheader">Optional Facings Available</h4>
            <div class="text-neutral-500">
              <ul class="list-inside list-disc text-neutral-500">
                <li class="mb-4">Aluminized Polyester</li>
                <li class="mb-4">Reinforced Aluminized Polyester</li>
                <li class="mb-4">Urethane Films (matte or impervious)</li>
                <li class="mb-4">Tedlar® (trademark E.I. Dupont Co.)</li>
                <li class="mb-4">Perforated Vinyl</li>
                <li class="mb-4">Convoluted</li>
                <li class="mb-4">Embossed</li>
                <li class="mb-4">Customized Facings Available</li>
              </ul>
            </div>
          </div>
          <div>
            <h4 class="subheader">Pressure Sensitive Adhesive</h4>
            <div class="text-neutral-500">
              <ul class="list-inside list-disc text-neutral-500">
                <li class="mb-4">Supported SBR (temps to 140°F)</li>
                <li class="mb-4">Supported Acrylic (temps to 250°)</li>
                <li class="mb-4">Unsupported Acrylic (temps to 250°)</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- TABLE -->
        <div class="table-wrap">
          <div class="tablesaw-bar mode-stack"></div>
          <table
            class="tablesaw tablesaw-stack"
            data-tablesaw-mode="stack"
            id="table-3563"
          >
            <thead>
              <tr>
                <th rowspan="2"><strong>Thickness</strong></th>
                <th colspan="7">
                  Frequency - ASTM C423-903 - Absorption Coefficient
                </th>
              </tr>
              <tr>
                <th>
                  <b class="tablesaw-cell-label">125</b
                  ><span class="tablesaw-cell-content">125</span>
                </th>
                <th>
                  <b class="tablesaw-cell-label">250</b
                  ><span class="tablesaw-cell-content">250</span>
                </th>
                <th>
                  <b class="tablesaw-cell-label">500</b
                  ><span class="tablesaw-cell-content">500</span>
                </th>
                <th>
                  <b class="tablesaw-cell-label">1K</b
                  ><span class="tablesaw-cell-content">1K</span>
                </th>
                <th>
                  <b class="tablesaw-cell-label">2K</b
                  ><span class="tablesaw-cell-content">2K</span>
                </th>
                <th>
                  <b class="tablesaw-cell-label">4K</b
                  ><span class="tablesaw-cell-content">4K</span>
                </th>
                <th>
                  <b class="tablesaw-cell-label">NRC</b
                  ><span class="tablesaw-cell-content">NRC</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <b class="tablesaw-cell-label">125</b
                  ><span class="tablesaw-cell-content">1/2"</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label">250</b
                  ><span class="tablesaw-cell-content">.00</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label">500</b
                  ><span class="tablesaw-cell-content">.08</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label">1K</b
                  ><span class="tablesaw-cell-content">.16</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label">2K</b
                  ><span class="tablesaw-cell-content">.55</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label">4K</b
                  ><span class="tablesaw-cell-content">.98</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label">NRC</b
                  ><span class="tablesaw-cell-content"
                    ><b class="tablesaw-cell-label tablesaw-cell-label-top"
                      >Frequency - ASTM C423-903 - Absorption Coefficient</b
                    >
                    .95</span
                  >
                </td>
                <td>.45</td>
              </tr>
              <tr>
                <td>
                  <b class="tablesaw-cell-label">125</b
                  ><span class="tablesaw-cell-content">3/4"</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label">250</b
                  ><span class="tablesaw-cell-content">.01</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label">500</b
                  ><span class="tablesaw-cell-content">.11</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label">1K</b
                  ><span class="tablesaw-cell-content">.38</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label">2K</b
                  ><span class="tablesaw-cell-content">.92</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label">4K</b
                  ><span class="tablesaw-cell-content">.93</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label">NRC</b
                  ><span class="tablesaw-cell-content"
                    ><b class="tablesaw-cell-label tablesaw-cell-label-top"
                      >Frequency - ASTM C423-903 - Absorption Coefficient</b
                    >
                    .86</span
                  >
                </td>
                <td>.60</td>
              </tr>
              <tr>
                <td>
                  <b class="tablesaw-cell-label">125</b
                  ><span class="tablesaw-cell-content">1"</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label">250</b
                  ><span class="tablesaw-cell-content">.06</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label">500</b
                  ><span class="tablesaw-cell-content">.19</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label">1K</b
                  ><span class="tablesaw-cell-content">.74</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label">2K</b
                  ><span class="tablesaw-cell-content">1.00</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label">4K</b
                  ><span class="tablesaw-cell-content">.85</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label">NRC</b
                  ><span class="tablesaw-cell-content"
                    ><b class="tablesaw-cell-label tablesaw-cell-label-top"
                      >Frequency - ASTM C423-903 - Absorption Coefficient</b
                    >
                    .97</span
                  >
                </td>
                <td>.70</td>
              </tr>
              <tr>
                <td>
                  <b class="tablesaw-cell-label">125</b
                  ><span class="tablesaw-cell-content">1-1/2"</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label">250</b
                  ><span class="tablesaw-cell-content">.10</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label">500</b
                  ><span class="tablesaw-cell-content">.30</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label">1K</b
                  ><span class="tablesaw-cell-content">.77</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label">2K</b
                  ><span class="tablesaw-cell-content">1.04</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label">4K</b
                  ><span class="tablesaw-cell-content"> .99</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label">NRC</b
                  ><span class="tablesaw-cell-content"
                    ><b class="tablesaw-cell-label tablesaw-cell-label-top"
                      >Frequency - ASTM C423-903 - Absorption Coefficient</b
                    >1.11</span
                  >
                </td>
                <td>.80</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- TABLE -->
      </div>
    </div>
  </section>
</section>

{% include 'components/_want-help-contact-us.html' %}
<!--  -->
{% endblock %}
