{% extends 'layouts/base.html' %} {% set title = "Acoustic Blankets & Rolls:
Quilted Fiberglass" %} {% set pageTitle = "Acoustic Blankets & Rolls: Quilted
Fiberglass" %} {% set description = "" %} {% block content %}

<section
  class="relative flex h-[350px] items-center bg-[url('/public/images/ies2000_acoustic_blankets.jpg')] bg-cover bg-center bg-no-repeat"
>
  {% include 'layouts/image-title.html' %}
</section>
<section class="bg-slightly-white py-24">
  <div class="container mx-auto max-w-screen-sm px-10">
    <div class="container m-auto mb-24">
      <h2 class="mb-10 text-3xl font-bold text-neutral-700">
        Construction Sound Barrier Blankets: Quilted Fiberglass Panel
      </h2>
      <div class="mb-8 text-neutral-500">
        <p class="mb-6 leading-normal">
          Quilted Fiberglass Panel Absorbers reduce the reflection of sound
          waves by adding soft, porous, open-celled materials to any
          environment. IES – 2000 LLC’s Quilted Fiberglass panel products like
          sound barrier blanket, construction sound blankets consists of various
          configurations of facing and fiberglass thicknesses to provide
          solutions to a plethora of applications. Wall panels and overhead
          baffles are constructed with all edges bound and grommets across the
          top. Rolls are available 4’ wide x 25’ long and can be supplied with
          edges bound or unbound. Applications: Typically used when you are
          trying to reduce the reflection of sound waves or reverberant noise
          energy within a piece of equipment, a room, or a building. Also used
          to supplement plywood structures on job sites to improve the
          transmission loss of the wood as well as to reduce reflected noise on
          the construction side.
        </p>
        <p class="mb-6 leading-normal">
          By adding porous and soft materials to any environment, quilted
          fiberglass panels help reduce the reflection of sound waves. At IES
          2000, we offer high-quality fiberglass sound insulation solutions
          consisting of various configurations. The configurations include
          different thicknesses and appearances that provide solutions to
          various applications. Besides, overhead baffles and sound barrier
          blankets are constructed with all grommets across the top.
        </p>
        <p class="mb-6 leading-normal">
          We have quilted fiberglass panels that are high performance,
          fire-safe, and durable. They can be used to reduce reverberant
          airborne noise and are an excellent alternative to urethane foams.
          This is because they possess high mechanical strength, exhibit low
          fire emissions, and are Class A fire rated. Besides, they have a wide
          temperature range. You can also clean them, and they are unaffected by
          oils, dirt, dust, humidity, moisture, and most chemicals. Our
          construction sound blankets have extremely long service lives, will
          not degrade, and you can install them easily.
        </p>
      </div>

      <h3 class="mb-6 text-xl font-semibold text-iesGreen">
        Applications of Qualified Fiberglass Panels
      </h3>
      <ul class="list-inside list-disc text-neutral-500">
        <li class="mb-4">
          Quilted fiberglass panels are used in reducing reverberant noise
          energy or the reflection of sound waves within a building, a room, or
          a piece of equipment.
        </li>
        <li>
          It is also used to supplement the use of plywood structures on job
          sites. They typically help reduce reflected noise on construction
          sites.
        </li>
      </ul>

      <div class="py-10">
        <a
          class="rounded-full bg-iesGreen px-6 py-3 text-slightly-white transition-all duration-200 ease-out hover:bg-iesGreen-light"
          href="/public/pdf/ies2000datasheet-acousticblanketsrolls.pdf"
          target="_blank"
          rel="noopener"
          >Download Product Brochure</a
        >
      </div>

      <div class="table-wrap text-neutral-500">
        <div class="tablesaw-bar mode-stack"></div>
        <table
          class="tablesaw tablesaw-stack"
          data-tablesaw-mode="stack"
          id="table-6699"
        >
          <thead>
            <tr>
              <th></th>
              <th>QA-1</th>
              <th>QA-3</th>
              <th>QA-7</th>
              <th>QA-10</th>
              <th>QA-11</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Nominal Thickness</td>
              <td>
                <b class="tablesaw-cell-label">QA-1</b
                ><span class="tablesaw-cell-content">1"</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-3</b
                ><span class="tablesaw-cell-content">1"</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-7</b
                ><span class="tablesaw-cell-content">2"</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-10</b
                ><span class="tablesaw-cell-content">2"</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-11</b
                ><span class="tablesaw-cell-content">2"</span>
              </td>
            </tr>
            <tr>
              <td>Temperature Range</td>
              <td>
                <b class="tablesaw-cell-label">QA-1</b
                ><span class="tablesaw-cell-content">-20° to +180° F</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-3</b
                ><span class="tablesaw-cell-content">-20° to +350° F</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-7</b
                ><span class="tablesaw-cell-content">-20° to +180° F</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-10</b
                ><span class="tablesaw-cell-content">-20° to +180° F</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-11</b
                ><span class="tablesaw-cell-content">-90° to +500° F</span>
              </td>
            </tr>
            <tr>
              <td>Standard Width</td>
              <td>
                <b class="tablesaw-cell-label">QA-1</b
                ><span class="tablesaw-cell-content">48"</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-3</b
                ><span class="tablesaw-cell-content">48"</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-7</b
                ><span class="tablesaw-cell-content">48"</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-10</b
                ><span class="tablesaw-cell-content">48"</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-11</b
                ><span class="tablesaw-cell-content">48"</span>
              </td>
            </tr>
            <tr>
              <td>Roll Length</td>
              <td>
                <b class="tablesaw-cell-label">QA-1</b
                ><span class="tablesaw-cell-content">50'</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-3</b
                ><span class="tablesaw-cell-content">50'</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-7</b
                ><span class="tablesaw-cell-content">25'</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-10</b
                ><span class="tablesaw-cell-content">25'</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-11</b
                ><span class="tablesaw-cell-content">25'</span>
              </td>
            </tr>
            <tr>
              <td>Weight</td>
              <td>
                <b class="tablesaw-cell-label">QA-1</b
                ><span class="tablesaw-cell-content">&nbsp;</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-3</b
                ><span class="tablesaw-cell-content">&nbsp;</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-7</b
                ><span class="tablesaw-cell-content">.45 # psf</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-10</b
                ><span class="tablesaw-cell-content">.45 # psf</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-11</b
                ><span class="tablesaw-cell-content">.45 # psf</span>
              </td>
            </tr>
            <tr>
              <td>Density</td>
              <td>
                <b class="tablesaw-cell-label">QA-1</b
                ><span class="tablesaw-cell-content">1.6 lb/ft^3</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-3</b
                ><span class="tablesaw-cell-content">1.6 lb/ft^3</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-7</b
                ><span class="tablesaw-cell-content">&nbsp;</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-10</b
                ><span class="tablesaw-cell-content">&nbsp;</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-11</b
                ><span class="tablesaw-cell-content">&nbsp;</span>
              </td>
            </tr>
            <tr>
              <td>Moisture Permeability</td>
              <td>
                <b class="tablesaw-cell-label">QA-1</b
                ><span class="tablesaw-cell-content">&nbsp;</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-3</b
                ><span class="tablesaw-cell-content">&nbsp;</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-7</b
                ><span class="tablesaw-cell-content">&nbsp;</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-10</b
                ><span class="tablesaw-cell-content">&nbsp;</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-11</b
                ><span class="tablesaw-cell-content">0.5 perms</span>
              </td>
            </tr>
            <tr>
              <td>Flammability / Flame Spread</td>
              <td>
                <b class="tablesaw-cell-label">QA-1</b
                ><span class="tablesaw-cell-content">17.66</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-3</b
                ><span class="tablesaw-cell-content">2.07</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-7</b
                ><span class="tablesaw-cell-content">17.66</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-10</b
                ><span class="tablesaw-cell-content">17.66</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-11</b
                ><span class="tablesaw-cell-content">4.95</span>
              </td>
            </tr>
            <tr>
              <td>Flammability / Smoke Density</td>
              <td>
                <b class="tablesaw-cell-label">QA-1</b
                ><span class="tablesaw-cell-content">22.75</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-3</b
                ><span class="tablesaw-cell-content">0.45</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-7</b
                ><span class="tablesaw-cell-content">22.75</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-10</b
                ><span class="tablesaw-cell-content">22.75</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-11</b
                ><span class="tablesaw-cell-content">11.43</span>
              </td>
            </tr>
            <tr>
              <td>Frequencies (Hz)</td>
              <td>
                <b class="tablesaw-cell-label">QA-1</b
                ><span class="tablesaw-cell-content">ASTM C 423</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-3</b
                ><span class="tablesaw-cell-content"
                  >ASTM E-90 &amp; E 413</span
                >
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-7</b
                ><span class="tablesaw-cell-content">ASTM &amp; C 423</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-10</b
                ><span class="tablesaw-cell-content">ASTM &amp; C 423</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-11</b
                ><span class="tablesaw-cell-content">ASTM &amp; C 423</span>
              </td>
            </tr>
            <tr>
              <td>Class</td>
              <td>
                <b class="tablesaw-cell-label">QA-1</b
                ><span class="tablesaw-cell-content">&nbsp;</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-3</b
                ><span class="tablesaw-cell-content">1 or A per ASTM E84</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-7</b
                ><span class="tablesaw-cell-content">&nbsp;</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-10</b
                ><span class="tablesaw-cell-content">1 or A per ASTM E84</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-11</b
                ><span class="tablesaw-cell-content">1 or A per ASTM E84</span>
              </td>
            </tr>
            <tr>
              <td>NRC rating</td>
              <td>
                <b class="tablesaw-cell-label">QA-1</b
                ><span class="tablesaw-cell-content">&nbsp;</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-3</b
                ><span class="tablesaw-cell-content">0.8</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-7</b
                ><span class="tablesaw-cell-content">&nbsp;</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-10</b
                ><span class="tablesaw-cell-content">0.85</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-11</b
                ><span class="tablesaw-cell-content">0.85</span>
              </td>
            </tr>
            <tr>
              <td>Edges</td>
              <td>
                <b class="tablesaw-cell-label">QA-1</b
                ><span class="tablesaw-cell-content">Bound or Unbound</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-3</b
                ><span class="tablesaw-cell-content">&nbsp;</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-7</b
                ><span class="tablesaw-cell-content">Bound or Unbound</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-10</b
                ><span class="tablesaw-cell-content">Bound or Unbound</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-11</b
                ><span class="tablesaw-cell-content">Bound or Unbound</span>
              </td>
            </tr>
            <tr>
              <td>Available colors</td>
              <td>
                <b class="tablesaw-cell-label">QA-1</b
                ><span class="tablesaw-cell-content">&nbsp;</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-3</b
                ><span class="tablesaw-cell-content">&nbsp;</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-7</b
                ><span class="tablesaw-cell-content">&nbsp;</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-10</b
                ><span class="tablesaw-cell-content"
                  >Black, Gray, Tan or White</span
                >
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-11</b
                ><span class="tablesaw-cell-content">&nbsp;</span>
              </td>
            </tr>
            <tr>
              <td>Octave Band Center Frequencies (Hz)</td>
              <td>
                <b class="tablesaw-cell-label">QA-1</b
                ><span class="tablesaw-cell-content">&nbsp;</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-3</b
                ><span class="tablesaw-cell-content">&nbsp;</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-7</b
                ><span class="tablesaw-cell-content">&nbsp;</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-10</b
                ><span class="tablesaw-cell-content">&nbsp;</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-11</b
                ><span class="tablesaw-cell-content">&nbsp;</span>
              </td>
            </tr>
            <tr>
              <td>125</td>
              <td>
                <b class="tablesaw-cell-label">QA-1</b
                ><span class="tablesaw-cell-content">0.12</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-3</b
                ><span class="tablesaw-cell-content">0.4</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-7</b
                ><span class="tablesaw-cell-content">0.07</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-10</b
                ><span class="tablesaw-cell-content">0.19</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-11</b
                ><span class="tablesaw-cell-content">0.19</span>
              </td>
            </tr>
            <tr>
              <td>250</td>
              <td>
                <b class="tablesaw-cell-label">QA-1</b
                ><span class="tablesaw-cell-content">0.47</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-3</b
                ><span class="tablesaw-cell-content">0.3</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-7</b
                ><span class="tablesaw-cell-content">0.27</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-10</b
                ><span class="tablesaw-cell-content">0.99</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-11</b
                ><span class="tablesaw-cell-content">0.99</span>
              </td>
            </tr>
            <tr>
              <td>500</td>
              <td>
                <b class="tablesaw-cell-label">QA-1</b
                ><span class="tablesaw-cell-content">0.85</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-3</b
                ><span class="tablesaw-cell-content">0.78</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-7</b
                ><span class="tablesaw-cell-content">0.96</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-10</b
                ><span class="tablesaw-cell-content">0.96</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-11</b
                ><span class="tablesaw-cell-content">0.96</span>
              </td>
            </tr>
            <tr>
              <td>1K</td>
              <td>
                <b class="tablesaw-cell-label">QA-1</b
                ><span class="tablesaw-cell-content">0.84</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-3</b
                ><span class="tablesaw-cell-content">1.02</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-7</b
                ><span class="tablesaw-cell-content">1.13</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-10</b
                ><span class="tablesaw-cell-content">0.8</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-11</b
                ><span class="tablesaw-cell-content">0.8</span>
              </td>
            </tr>
            <tr>
              <td>2K</td>
              <td>
                <b class="tablesaw-cell-label">QA-1</b
                ><span class="tablesaw-cell-content">0.64</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-3</b
                ><span class="tablesaw-cell-content">1</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-7</b
                ><span class="tablesaw-cell-content">1.08</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-10</b
                ><span class="tablesaw-cell-content">0.57</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-11</b
                ><span class="tablesaw-cell-content">0.57</span>
              </td>
            </tr>
            <tr>
              <td>4K</td>
              <td>
                <b class="tablesaw-cell-label">QA-1</b
                ><span class="tablesaw-cell-content">0.6</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-3</b
                ><span class="tablesaw-cell-content">1.1</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-7</b
                ><span class="tablesaw-cell-content">1</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-10</b
                ><span class="tablesaw-cell-content">0.3</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-11</b
                ><span class="tablesaw-cell-content">0.3</span>
              </td>
            </tr>
            <tr>
              <td>NRC rating</td>
              <td>
                <b class="tablesaw-cell-label">QA-1</b
                ><span class="tablesaw-cell-content">0.7</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-3</b
                ><span class="tablesaw-cell-content">0.8</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-7</b
                ><span class="tablesaw-cell-content">0.9</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-10</b
                ><span class="tablesaw-cell-content">0.09</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-11</b
                ><span class="tablesaw-cell-content">0.9</span>
              </td>
            </tr>
            <tr>
              <td>Material</td>
              <td>
                <b class="tablesaw-cell-label">QA-1</b
                ><span class="tablesaw-cell-content"
                  >Vinyl coated fiberglass cloth facing / fiberglass batting
                  with non-porous scrim facing</span
                >
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-3</b
                ><span class="tablesaw-cell-content"
                  >Non-woven porous scrim /fiberglass batting with non-woven
                  porous scrim.</span
                >
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-7</b
                ><span class="tablesaw-cell-content"
                  >Vinyl coated fiberglass cloth facing/ fiberglass batting with
                  non-porous scrim facing.</span
                >
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-10</b
                ><span class="tablesaw-cell-content"
                  >Vinyl coated fiberglass cloth facing / fiberglass batting /
                  vinyl coated fiberglass cloth facing</span
                >
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-11</b
                ><span class="tablesaw-cell-content"
                  >Silicone coated fiberglass cloth facing/ fiberglass batting/
                  Silicone coated fiberglass cloth facing.</span
                >
              </td>
            </tr>
            <tr>
              <td>Stitching</td>
              <td>
                <b class="tablesaw-cell-label">QA-1</b
                ><span class="tablesaw-cell-content"
                  >Straight-stitch or diamond quilt patterns</span
                >
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-3</b
                ><span class="tablesaw-cell-content">&nbsp;</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-7</b
                ><span class="tablesaw-cell-content">&nbsp;</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-10</b
                ><span class="tablesaw-cell-content">&nbsp;</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-11</b
                ><span class="tablesaw-cell-content">&nbsp;</span>
              </td>
            </tr>
            <tr>
              <td>Typical Applications</td>
              <td>
                <b class="tablesaw-cell-label">QA-1</b
                ><span class="tablesaw-cell-content"
                  >Typically used when you are trying to reduce the reflection
                  of sound waves or reverberant noise energy within a piece of
                  equipment, a room, or a building.</span
                >
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-3</b
                ><span class="tablesaw-cell-content"
                  >Typically used as a sound absorption panel or an acoustical
                  liner. Also used as a decoupler when combined with our 1B Lag
                  Acoustical Pipe &amp; Duct product to enhance its acoustical
                  performance.</span
                >
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-7</b
                ><span class="tablesaw-cell-content"
                  >Typically used when you are trying to reduce the reflection
                  of sound waves or reverberant noise energy within a piece of
                  equipment, a room, or a building.</span
                >
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-10</b
                ><span class="tablesaw-cell-content"
                  >Typically used when you are trying to reduce the reflection
                  of sound waves or reverberant noise energy within a piece of
                  equipment, a room, or a building. Also used to supplement
                  plywood structures on job sites to improve the transmission
                  loss of the wood as well as to reduce reflected noise on the
                  construction side.</span
                >
              </td>
              <td>
                <b class="tablesaw-cell-label">QA-11</b
                ><span class="tablesaw-cell-content"
                  >Silicone faced quilted fiberglass absorbers are typically
                  used to reduce reverberant noise energy within a piece of
                  equipment, room, or building where the product may be
                  subjected to high temperature, sunlight, water or oil. Also
                  used as a high temperature duct wrap, or on an outdoor
                  application where UV resistance is required.</span
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container m-auto px-10">
      <h2 class="mb-8 text-3xl font-bold text-neutral-700">
        Want to talk to someone about your project?
      </h2>
      <a
        class="rounded-full bg-iesGreen px-6 py-3 text-slightly-white transition-all duration-200 ease-out hover:bg-iesGreen-light"
        href="/contact-us"
        >Contact us</a
      >
    </div>
  </div>
</section>
{% endblock %}
