{% extends 'layouts/base.html' %}
<!--  -->
{% set title = "Industrial Sound & Acoustic Barrier Curtains" %}
<!--  -->
{% set pageTitle = "Industrial Sound & Acoustic Barrier Curtains" %}
<!--  -->
{% set description = "Barrier Walls are generally installed where a sound
barrier is needed between a noise source and a target population. Whether indoor
or out, absorptive noise control barriers provide maximum noise reduction with
lightweight modular panels and/or louvers." %}
<!--  -->
{% block content %}

<!-- IMAGE AND TITLE -->
<section
  class="relative flex h-[350px] items-center bg-[url('/public/images/page_headers/ies2000_acoustic_curtains.jpg')] bg-cover bg-center bg-no-repeat"
>
  {% include 'components/_image-title.html' %}
</section>

<!-- INDUSTRIAL SOUND & ACOUSTIC BARRIER CURTAINS -->
<section class="bg-slightly-white py-24">
  <section class="container mx-auto max-w-screen-md px-10">
    <div class="container m-auto">
      <h2 class="main-header">Industrial Sound & Acoustic Barrier Curtains</h2>
      <div class="mb-8 text-neutral-500">
        <p class="mb-6 leading-normal">
          Industrial soundproofing curtains and acoustical curtains for reducing
          noise are used to reduce reverberant noise energy or the reflection of
          sound waves within a building, a room, or block noise from noisy
          equipment. At IES-2000, LLC we have high-quality acoustic curtains,
          industrial soundproofing curtains that can provide noise control for
          various outdoor applications as well. You won't run out of designs and
          themes to choose from; we have a variety of facings available. Some of
          them include a silicone facing for outdoor applications or high
          temperatures. There are also acoustic barrier curtains that are
          available in different variations.
        </p>
        <p class="mb-6 leading-normal">
          Our noise control curtains are made with a core material of
          fire-resistant sound absorption material that is sandwiched between
          layers of vinyl or scrim facings. Our industrial sound curtains are
          designed to match and fit almost any kind of design specifications.
          Noise control curtains and Acoustic barrier curtains can also be
          installed easily.
        </p>
      </div>

      <div>
        <h4 class="subheader">Applications of Acoustic Curtains</h4>
        <div class="mb-4 text-neutral-500">
          <p class="leading-normal">
            Acoustic curtains are applied in different industries and sectors.
          </p>
        </div>
        <div class="mb-8 grid grid-cols-1 gap-8 md:grid-cols-3">
          <div class="rounded-lg bg-iesGreen-lightest px-8 py-4">
            <h3 class="mb-2 font-semibold">Commercial Spaces</h3>
            <p class="text-neutral-500">
              Some commercial spaces need acoustical curtains for reducing noise
              in order to operate effectively.
            </p>
          </div>
          <div class="rounded-lg bg-iesGreen-lightest px-8 py-4">
            <h3 class="mb-2 font-semibold">Learning Institutions</h3>
            <p class="text-neutral-500">
              Places such as libraries will need total silence for maximum
              concentration. Our acoustical curtains are ideal for such
              purposes.
            </p>
          </div>
          <div class="rounded-lg bg-iesGreen-lightest px-8 py-4">
            <h3 class="mb-2 font-semibold">Office Spaces</h3>
            <p class="text-neutral-500">
              You might need your working environment to be free from noise
              distractions; acoustic curtains such as sound curtains for doors
              will come in handy.
            </p>
          </div>
        </div>
      </div>

      <div class="">
        <h4 class="subheader">Feasibility Study Objectives</h4>
        <ul class="list-inside list-disc text-neutral-500">
          They are made of high-quality materials that can guarantee effective
          sound control. They have excellent sound absorption properties. You
          will have a variety of fabric options. Our acoustic curtains are
          designed for any application and can match many design specifications.
          <li class="mb-4">They have excellent sound absorption properties.</li>
          <li class="mb-4">You will have a variety of fabric options.</li>
          <li class="">
            Our acoustic curtains are designed for any application and can match
            many design specifications.
          </li>
        </ul>
      </div>

      <div class="pb-3 pt-10">
        <a
          class="rounded-full bg-iesGreen px-6 py-3 text-slightly-white transition-all duration-200 ease-out hover:bg-iesGreen-light"
          href="/public/pdf/ies2000datasheet-acousticblanketsrolls.pdf"
          target="_blank"
          rel="noopener"
          >Download Product Brochure</a
        >
      </div>
    </div>
  </section>
</section>

{% include 'components/_want-help-contact-us.html' %}
<!--  -->
{% endblock %}
