{% extends 'layouts/base.html' %}
<!--  -->
{% set title = "Acoustic Doors & Windows" %}
<!--  -->
{% set pageTitle = "Acoustic Doors & Windows" %}
<!--  -->
{% set description = "All of our Acousti-Door noise control doors and
Acousti-Windows are manufactured to meet your unique needs and applications by
noise control door specialists in the United States." %}
<!--  -->
{% block content %}

<section
  class="relative flex h-[350px] items-center bg-[url('/public/images/ies2000_acoustic_doors_windows.jpg')] bg-cover bg-center bg-no-repeat"
>
  {% include 'components/_image-title.html' %}
</section>
<section class="bg-slightly-white py-24">
  <section class="container mx-auto max-w-screen-md px-10">
    <div class="container m-auto">
      <!-- DOORS -->
      <h2 class="main-header">Acoustic Doors</h2>
      <div>
        <h3 class="secondary-header">The Acousti-Door Advantage</h3>
        <div class="mb-8 text-neutral-500">
          <p class="mb-6 leading-normal">
            IES2000, Inc. distributes the finest factory assembled and field
            proven Acoustic sliding door and acoustical glass doors in the noise
            control industry. The acoustic sliding doors are completely factory
            assembled including the installation of both sets of magnetic seals,
            all hardware and even glazing if required. The result is a door that
            leaves the factory truly ready to install. See the door comparison
            literature for more details on this feature.
          </p>
          <p class="mb-6 leading-normal">
            All of our Acoustical glass doors are manufactured by noise control
            door specialists in the United States. Our acoustical windows and
            acoustic sliding doors come in fixed frame or split-frame systems
            which allows for an easy installation for a wide array of site
            requirements. Our acoustic sliding doors are in service everywhere
            from some of the most sophisticated performing arts centers to the
            most demanding industrial applications, and everywhere in between.
          </p>
          <p class="mb-6 leading-normal">
            IES2000, Inc. Acoustic sliding door and acoustical glass doors are
            all manufactured to meet your exact needs and applications. We
            believe that cookie cutters are for the kitchen so we want you to
            have exactly the size and configuration that your project desires!
          </p>
        </div>
        <div class="pb-12">
          <a
            class="rounded-full bg-iesGreen px-6 py-3 text-slightly-white transition-all duration-200 ease-out hover:bg-iesGreen-light"
            href="/public/pdf/ies2000datasheet-acousticdoors.pdf"
            target="_blank"
            rel="noopener"
            >Download Doors Brochure</a
          >
        </div>

        <!-- HIGHLIGHTS OF ACOUSTI-DOOR -->
        <div class="mb-8">
          <h4 class="subheader">
            Highlights of the Acousti-Door System Include
          </h4>
          <ul class="list-inside list-disc text-neutral-500">
            <li class="mb-4">
              Completely factory assembled Acoustic sliding doors and glass door
              system
            </li>
            <li class="mb-4">
              Single source responsibility for seal, hardware and glazing
              installation
            </li>
            <li class="mb-4">Easy and fast on-site installation</li>
            <li class="mb-4">Proven laboratory and field performance</li>
            <li class="mb-4">
              Flexibility in size and configurations, including choice on
              veneers
            </li>
          </ul>
          <p class="mb-6 leading-normal text-neutral-500">
            IES-2000, LLC. offers technical support personnel and
            representatives with the experience necessary to assist you in the
            Acoustic sliding doors design, supply and installation of your noise
            control solution. Submittal packages include the drawings, test data
            and easy to follow step-by-step installation instructions to allow
            your personnel to install the acoustical glass and sliding door
            systems. IES-2000, LLC. also offers professional installation
            service through out North America. Single-Leaf, Double-Leaf or
            Bi-Fold, Sliding or Lift Designs.
          </p>
        </div>

        <!-- IDEAL FOR -->
        <div class="">
          <h4 class="subheader">Ideal For</h4>
          <div class="text-neutral-500">
            <ul
              class="list-inside list-disc text-neutral-500 md:grid md:grid-cols-2"
            >
              <li class="mb-4">Radio/TV/Audio Recording Studios</li>
              <li class="mb-4">Stage and Rehearsal Areas</li>
              <li class="mb-4">Convention Halls</li>
              <li class="mb-4">Auditoriums</li>
              <li class="mb-4">Music Practice Rooms</li>
              <li class="mb-4">Concert Halls</li>
              <li class="mb-4">Home Theaters</li>
              <li class="mb-4">Conference Rooms</li>
              <li class="mb-4">Secure Areas</li>
              <li class="mb-4">
                Sensitive Compartmented Information Facilities (SCIF)
              </li>
              <li class="mb-4">Offices and Executive Suites</li>
              <li class="mb-4">Doctors’ Offices – HIPPA Compliance</li>
              <li class="mb-4">Psychiatrist/Psychologist Offices</li>
              <li class="mb-4">Audiometric Exam Rooms</li>
              <li class="mb-4">Schools</li>
              <li class="mb-4">Vibration Test Labs</li>
              <li class="mb-4">Mechanical Equipment Rooms</li>
              <li class="mb-4">Machinery Enclosures</li>
              <li class="mb-4">Control Rooms</li>
              <li class="mb-4">Test Facilities</li>
              <li class="mb-4">Engine Test Cells</li>
            </ul>
          </div>
        </div>

        <hr class="mb-10 mt-8" />

        <!-- WIINDOWS -->
        <div>
          <h2 class="main-header">Acoustic Windows</h2>
          <div></div>
          <h3 class="secondary-header">The Acousti-Window Advantage</h3>
          <div class="mb-8 text-neutral-500">
            <p class="mb-6 leading-normal">
              IES-2000, LLC. Distributes the finest factory assembled and field
              proven acoustical windows in the noise control industry. The
              Acousti – Window is completely factory assembled including the
              installation of liner panels (powder-coated perforated steel of
              fabric), glazing, and glass stops. The result is the sound control
              windows that leave the factory truly ready to install.
            </p>
            <p class="mb-6 leading-normal">
              All of our Acoustical sound control windows are manufactured by
              noise control specialists in the United States. Our fixed frame
              (HM) or split-frame (SF) system allows for an easy installation
              for a wide array of site requirements. Our Acousti – Window sound
              control windows are in service everywhere from some of the most
              sophisticated performing arts centers to the most demanding
              industrial applications, and everywhere in between.
            </p>
            <p class="mb-6 leading-normal">
              The Acousti – Window is a noise barrier for windows, it can be
              manufactured to meet multiple requirements including Ballistic
              ratings, blast/pressure, and fire. The IES-2000, LLC. Acousti –
              Window Sound control windows are all manufactured to meet your
              exact needs and applications.
            </p>
          </div>
          <div class="pb-12">
            <a
              class="rounded-full bg-iesGreen px-6 py-3 text-slightly-white transition-all duration-200 ease-out hover:bg-iesGreen-light"
              href="/public/pdf/ies2000datasheet-acousticwindows.pdf"
              target="_blank"
              rel="noopener"
              >Download Windows Brochure</a
            >
          </div>

          <!-- HIGHLIGHTS OF ACOUSTI-DOOR -->
          <div class="mb-8">
            <h4 class="subheader">
              Highlights of the Acousti-Window System Include
            </h4>
            <ul class="list-inside list-disc text-neutral-500">
              <li class="mb-4">
                Completely factory assembled sound control windows system
              </li>
              <li class="mb-4">
                Single source responsibility for all components related to the
                noise barrier for windows
              </li>
              <li class="mb-4">Easy and fast on-site installation</li>
              <li class="mb-4">Proven laboratory and field performance</li>
              <li class="mb-4">Flexibility in size and configurations</li>
            </ul>
            <p class="mb-6 leading-normal text-neutral-500">
              IES-2000, LLC. offers technical support personnel and
              representatives with the experience necessary to assist you in the
              design of noise barrier for windows, supply and installation of
              your noise control solution. Submittal packages include the
              drawings, test data and easy to follow step-by-step installation
              instructions to allow your personnel to install the noise barrier
              for windows. IES-2000, LLC. also offers professional installation
              service through out North America.
            </p>
          </div>

          <!-- IDEAL FOR -->
          <div class="mb-8">
            <h4 class="subheader">Ideal For</h4>
            <div class="text-neutral-500">
              <ul
                class="list-inside list-disc text-neutral-500 md:grid md:grid-cols-2"
              >
                <li class="mb-4">Masonry Construction</li>
                <li class="mb-4">Single Wall Drywall Construction</li>
                <li class="mb-4">Double Wall Drywall Construction</li>
                <li class="mb-4">Radio/TV Studios</li>
                <li class="mb-4">Control Rooms</li>
                <li class="mb-4">Schools</li>
                <li class="mb-4">Recording Studios</li>
                <li class="mb-4">Engine Test Cells</li>
                <li class="mb-4">Mechanical Rooms</li>
                <li class="mb-4">Machinery Enclosures</li>
                <li class="mb-4">Factory Offices</li>
                <li class="mb-4">Guard Houses</li>
              </ul>
            </div>
          </div>

          <!-- MODEL “HM” WINDOWS -->
          <div class="mb-8">
            <h4 class="subheader">Model "HM" Windows</h4>
            <div class="text-neutral-500">
              <ul
                class="list-inside list-disc text-neutral-500 md:grid md:grid-cols-2"
              >
                <li class="mb-4">Hollow metal design</li>
                <li class="mb-4">Fixed frame or split frame</li>
                <li class="mb-4">
                  STC rating from 48 to 57 (higher for triple-glazed)
                </li>
                <li class="mb-4">Glazing from 1/4” to 1-3/16” thick</li>
                <li class="mb-4">Straight or sloped glass design</li>
                <li class="mb-4">Custom sizes available</li>
              </ul>
            </div>
          </div>

          <!-- MODEL “U” WINDOWS -->
          <div class="mb-8">
            <h4 class="subheader">Model "U" Windows</h4>
            <div class="text-neutral-500">
              <ul
                class="list-inside list-disc text-neutral-500 md:grid md:grid-cols-2"
              >
                <li class="mb-4">U” frame design can fit any wall thickness</li>
                <li class="mb-4">STC ratings from 43 to 51</li>
                <li class="mb-4">Aluminum or rubber glazing channels</li>
                <li class="mb-4">
                  Suitable for use with modular panel systems or standard
                  construction
                </li>
                <li class="mb-4">Custom sizes available</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

{% include 'components/_want-help-contact-us.html' %}
<!--  -->
{% endblock %}
