{% extends 'layouts/base.html' %}
<!--  -->
{% set title = "Vibration Damping Sheets & Damping Compounds" %}
<!--  -->
{% set pageTitle = "Vibration Damping Sheets & Damping Compounds" %}
<!--  -->
{% set description = "Damping sheets are self-adhesive pads used for sound and
vibration damping on metal panels in applications including buses, railroad
cars, ships, generator enclosures and hoppers. Damping compounds impart
vibration damping in applications requiring superior flame and smoke resistant
materials." %}
<!--  -->
{% block content %}

<!-- IMAGE & TITLE -->
<section
  class="relative flex h-[400px] items-center bg-[url('/public/images/page_headers/ies2000_damping_sheets.jpg')] bg-cover bg-center bg-no-repeat"
>
  {% include 'components/_image-title.html' %}
</section>

<!-- VIBRATION DAMPING SHEET & DAMPING COMPOUNDS -->
<section class="bg-slightly-white py-24">
  <section class="container mx-auto max-w-screen-md px-10">
    <div class="container m-auto">
      <h2 class="main-header">Vibration Damping Sheets & Damping Compounds</h2>
    </div>
  </section>
</section>

<!-- DAMPING SHEETS -->
<section class="bg-iesGreen-lightest py-24">
  <section class="container mx-auto max-w-screen-md px-10">
    <div class="container m-auto">
      <div>
        <h3 class="secondary-header">Damping Sheets</h3>
        <div class="mb-4 text-neutral-500">
          <img
            class="float-right ps-10"
            width="300px"
            height="150px"
            src="/public/images/ies2000_damping_sheet1.jpg"
            alt="damping sheet"
          />
          <p class="leading-normal">
            Industrial Soundamp E vibration damping sheet is a self-adhesive
            vibration damping pad used for sound and vibration damping on metal
            panels. The adhesive side is smooth, giving complete contact with
            the underlying surface without air pockets or channels. Soundamp E
            is odorless, wear-resistant and impregnated to prevent the
            absorption of water. Vibration damping pads, vibration damping
            material and adhesive can withstand temperatures between -22°F and
            248° F and are highly resistant to aging. Our products serve as an
            ideal acoustic damping materials by eliminating vibration and
            reverberation.
          </p>
        </div>
        <div class="mb-4 text-neutral-500">
          <img
            class="float-left pe-10"
            width="300px"
            height="150px"
            src="/public/images/ies2000_damping_sheet2.jpg"
            alt="damping sheet"
          />
          <p class="leading-normal">
            To apply: Soundamp E should be cut to the desired size and shape
            before the backing paper is removed. It may be cut with scissors,
            knife, or die. Remove dust, grease, moisture and other foreign mater
            from the application surface. Peel off the backing paper. The
            simplest application technique is to bend the vibration damping pad
            slightly and attach it along its shortest edge. The vibration
            damping pad is then pressed firmly into place, preferably with a
            roller for larger pieces. This reduces the risk of leaving air
            pockets, which reduce the sound damping capacity. The temperature of
            the pad and application surface should not be below room temperature
            during fitting. Applications: Buses and railroad cars, ships and
            boats, generator enclosures, off-highway equipment, relay cabinets,
            bins, chutes, hoppers, and machine guards.
          </p>
        </div>

        <div>
          <div class="mb-8 text-neutral-500">
            <p class="mb-6 leading-normal">
              PDF Spec Sheets:
              <a
                target="_blank"
                class="text-iesGreen underline"
                href="/public/pdf/ies2000datasheet-dampingsheetscompounds.pdf"
                >Damping Sheets</a
              >
            </p>
          </div>
        </div>

        <!-- PRODUCT FEATURES AND SPECS -->
        <div class="">
          <h4 class="subheader">Product Features & Specifications</h4>
          <div class="text-neutral-500">
            <ul class="list-inside list-disc text-neutral-500">
              <li class="mb-4">
                Sheet Size: 54” x 40” - Die cut parts available
              </li>
              <li class="mb-4">Non-Hazardous and Non-Toxic</li>
              <li class="mb-4">Meets FMVSS 302 and UL94 HBF</li>
              <li class="mb-4">
                Improves fatigue life and safety factor of treated surfaces
              </li>
              <li class="mb-4">Resistant to water and mineral oils</li>
              <li class="mb-4">Temperature range: -22°F to +248°F</li>
              <li class="mb-4">
                Flammability: FMVSS 302 6.1 mm/min. UL94 HBF approved
              </li>
              <li class="mb-4">High acoustic loss factor</li>
              <li class="mb-4">Color: Black</li>
              <li class="mb-4">Thickness: 0.080″ oz.</li>
              <li class="mb-4">Resistant to water and mineral oils</li>
              <li class="mb-4">Weight: 6.2/ sq. ft</li>
              <li class="mb-4">Asphalt Saturation: 50% +/- 10%</li>
              <li class="mb-4">
                Adhesive peel strength: 15n/cm 8.6 lbs/” on steel sheet at 86°F
                (+20°C)
              </li>
              <li class="mb-4">Vibration Damping Mat: GM Test Method 9232P</li>
              <li class="">Storage Life: 6 months</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<!-- DAMPING COMPOUNDS -->
<section class="bg-slightly-white py-24">
  <section class="container mx-auto max-w-screen-md px-10">
    <div class="container m-auto">
      <div>
        <h3 class="secondary-header">Damping Compounds</h3>
        <div class="mb-4 text-neutral-500">
          <p class="leading-normal">
            VBC Damping Compound imparts vibration damping and a shift in the
            dominant frequency. The resulting structure borne noise reduction
            provides a means of improving the noise transmission loss in many
            applications. Because it’s water based, VBC Damping Compound is
            especially recommended for new construction and for equipment that
            requires superior flame and smoke resistant materials. VBC damping
            compound is also Ideal for OEM use including bus, rail and marine
            applications and for treatment of any vibrating metal, wood, glass,
            ceramic and most plastic surfaces. It’s also used in fan and blower
            housings, duct work, bins, chutes, hoppers, machine guards, and
            stadium seating. Easily brushed, troweled or sprayed on surfaces,
            this highly effective compound may be painted to make suitable for
            outdoor as well as indoor usage.
          </p>
        </div>

        <!-- SPEC SHEET -->
        <div>
          <div class="mb-8 text-neutral-500">
            <p class="mb-6 leading-normal">
              PDF Spec Sheets:
              <a
                target="_blank"
                class="text-iesGreen underline"
                href="/public/pdf/ies2000datasheet-dampingsheetscompounds.pdf"
                >VBC Damping Compounds</a
              >
            </p>
          </div>
        </div>

        <!-- PRODUCT FEATURES -->
        <div class="mb-8">
          <h4 class="subheader">Product Features</h4>
          <div class="text-neutral-500">
            <ul class="list-inside list-disc text-neutral-500">
              <li class="mb-4">
                Low flame spread and smoke development rating per ASTM E-84-91A,
                ASTM E-162, ASTM-E662
              </li>
              <li class="mb-4">Meets FMVSS 302</li>
              <li class="mb-4">Non-hazardous, non-toxic</li>
              <li class="mb-4">
                Improves fatigue life and safety factor of treated surfaces
              </li>
              <li class="mb-4">
                Provides dielectric isolation and thermal insulation
              </li>
              Unaffected by hedroarbons such as iols Resists alkalis, acids,
              corrosive gases, grease, detergents and water Easily troweled,
              brushed or sprayed on surfaces Tough, durable, attractive coating
              in place of paint
              <li class="mb-4">Tough, durable and paintable</li>
              <li class="mb-4">Easily applied with trowel, brush, or spray</li>
              <li class="mb-4">Neutral color</li>
              <li class="mb-4">
                Use on metal, plastic, glass, ceramic surfaces
              </li>
              <li class="mb-4">
                Available in 5 Gallon Pails (62 lbs) and 55 Gallon Drums (650
                lbs)
              </li>
            </ul>
          </div>
        </div>

        <!-- PRODUCT DATA -->
        <div class="mb-8">
          <h4 class="subheader">Product Data</h4>
          <div class="text-neutral-500">
            <ul class="list-inside list-disc text-neutral-500">
              <li class="mb-4">Color: Beige</li>
              <li class="mb-4">Odor: Total odorless when dry</li>
              <li class="mb-4">Viscosity: Paste</li>
              <li class="mb-4">Total solids: 62%</li>
              <li class="mb-4">Wet density (LB/US Gal): 11.9</li>
              <li class="mb-4">Dry density (LB/IMP Gal): 14.3</li>
              <li class="mb-4">Wet density (g/cm3): 1.43</li>
              <li class="mb-4">Dry density (g/cm3): 1.73</li>
              <li class="mb-4">Hardness – Shore D: 58</li>
              <li class="mb-4">Thickness: N/A</li>
              <li class="mb-4">Flammability per ASTM E-84: Flame Spread: 0</li>
              <li class="mb-4">Flammability per ASTM E-84: Smoke Density: 0</li>
              <li class="mb-4">Thermal conductivity (BTU in/hr ft2 °F): 2.1</li>
              <li class="mb-4">Flash point: None</li>
              <li class="mb-4">
                Temperature: Maximum service temperature 325°F
              </li>
            </ul>
          </div>
        </div>

        <div class="">
          <h4 class="subheader mb-0">Typical Coverage - Square Ft./Gal.</h4>

          <!-- TABLE OF DATA -->
          <div class="table-wrap">
            <div class="tablesaw-bar mode-stack"></div>
            <table
              class="tablesaw tablesaw-stack"
              data-tablesaw-mode="stack"
              id="table-1973"
            >
              <thead>
                <tr>
                  <th height="45">Dry Thickness</th>
                  <th height="45">Spray</th>
                  <th height="45">Brush</th>
                  <th height="45">Trowel</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <b class="tablesaw-cell-label">Dry Thickness</b
                    ><span class="tablesaw-cell-content">1/16”</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">Spray</b
                    ><span class="tablesaw-cell-content">50</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">Brush</b
                    ><span class="tablesaw-cell-content">25</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">Trowel</b
                    ><span class="tablesaw-cell-content">35</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b class="tablesaw-cell-label">Dry Thickness</b
                    ><span class="tablesaw-cell-content">1/8”</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">Spray</b
                    ><span class="tablesaw-cell-content">40</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">Brush</b
                    ><span class="tablesaw-cell-content">25</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">Trowel</b
                    ><span class="tablesaw-cell-content">20</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b class="tablesaw-cell-label">Dry Thickness</b
                    ><span class="tablesaw-cell-content">3/16”</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">Spray</b
                    ><span class="tablesaw-cell-content">30</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">Brush</b
                    ><span class="tablesaw-cell-content">20</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">Trowel</b
                    ><span class="tablesaw-cell-content">15</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- TABLE OF DATA -->

          <span class="text-xs text-neutral-500"
            >*The data presented in this table is provided for informational
            purposes only.</span
          >
        </div>
      </div>
    </div>
  </section>
</section>

{% include 'components/_want-help-contact-us.html' %}
<!--  -->
{% endblock %}
