{% extends 'layouts/base.html' %}
<!--  -->
{% set title = "Duct Lagging" %}
<!--  -->
{% set pageTitle = "Duct Lagging" %}
<!--  -->
{% set description = "Duct lagging is typically used to wrap noisy pipes and
ducts to help block the noise created by the contents moving through the pipes.
Duct lagging can provide thermal insulation as well as noise reduction." %}
<!--  -->
{% block content %}

<!-- IMAGE & TITLE -->
<section
  class="relative flex h-[400px] items-center bg-[url('/public/images/page_headers/ies2000_duct_lagging.jpg')] bg-cover bg-center bg-no-repeat"
>
  {% include 'components/_image-title.html' %}
</section>

<!-- DUCT LAGGING -->
<section class="bg-slightly-white py-24">
  <section class="container mx-auto max-w-screen-md px-10">
    <div class="container m-auto">
      <h2 class="main-header">Duct Lagging</h2>
      <div class="mb-8 text-neutral-500">
        <p class="mb-6 leading-normal">
          Duct Lagging is typically used to wrap noisy pipes and ducts, and thus
          help to block the noise contents moving through he pipes. From air
          flow to liquid content, duct lagging helps to increase sound
          absorption in the cavity and provides thermal insulation as well.
        </p>
        <p class="mb-6 leading-normal">
          Types of duct lagging that include a foil-faced reinforced exterior
          will readily accept a matching lag tape for easy installation. The
          foil-face also serves as a protective jacket for indoor or outdoor
          applications. The 2# per sq. foot barrier and the 2″ thick quilted
          quilted fiberglass absorber improves overall acoustical performance,
          especially at low frequencies.
        </p>
      </div>
      <div>
        <a
          class="rounded-full bg-iesGreen px-6 py-3 text-slightly-white transition-all duration-200 ease-out hover:bg-iesGreen-light"
          href="/public/pdf/ies2000datasheet-ductlagging.pdf"
          target="_blank"
          rel="noopener"
          >Download Product Brochure</a
        >
      </div>
    </div>
  </section>
</section>

<!-- 1B LAG -->
<section class="bg-iesGreen-lightest py-24">
  <section class="container mx-auto max-w-screen-md px-10">
    <div class="container m-auto">
      <div>
        <h3 class="secondary-header">1B Lag</h3>

        <div class="mb-8 flex flex-col sm:flex-row">
          <div>
            <h4 class="subheader">Reinforced Foil-Faced Vinyl Barrier</h4>
            <div class="mb-8 text-neutral-500">
              <p class="mb-6 leading-normal">
                PDF Spec Sheets:
                <a
                  target="_blank"
                  class="text-iesGreen underline"
                  href="/public/pdf/ies2000datasheet-ductlagging.pdf"
                  >1B Duct Lagging</a
                >
              </p>
            </div>
          </div>
          <img
            class="max-w-36 sm:ms-auto"
            width="150px"
            height="130px"
            src="/public/images/ies2000_duct_lagging_1b_lag.jpg"
            alt=""
          />
        </div>

        <!-- PRODUCT DATA -->
        <div class="mb-8">
          <h4 class="subheader">Product Data</h4>
          <div class="text-neutral-500">
            <ul class="list-inside list-disc text-neutral-500">
              <li class="mb-4">
                1 Pound Per Square Foot Reinforced Foil-Faced Vinyl Barrier
              </li>
              <li class="mb-4">Nominal Thickness: .090″</li>
              <li class="mb-4">Standard Roll: 48″W x 30'L</li>
              <li class="mb-4">Weight: 1.0 lb. psf</li>
              <li class="mb-4">Temperature Range: -10° to +180° F</li>
              <li class="mb-4">Flammability: UL 94 meets VO FMVSS 302: Pass</li>
              <li class="mb-4">
                Easy to cut, wrap and install with matching lag tape
              </li>
            </ul>
          </div>
        </div>

        <!-- ACOUSTICAL DATA -->
        <div>
          <h4 class="subheader">Acoustical Data</h4>
          <div class="text-neutral-500">
            <p class="mb-6 leading-normal">
              Sound Transmission Loss (dB) Octave & Center Frequencies
            </p>
          </div>

          <!-- TABLE OF DATA -->
          <div class="table-wrap">
            <div class="tablesaw-bar mode-stack"></div>
            <table
              class="tablesaw tablesaw-stack"
              data-tablesaw-mode="stack"
              id="table-5461"
            >
              <thead>
                <tr>
                  <th rowspan="2">Product</th>
                  <th colspan="7">
                    Octave Band Frequencies (Hz)<br />
                    ASTM E-90 &amp; E 413
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>
                    <b class="tablesaw-cell-label">Product</b
                    ><span class="tablesaw-cell-content">125</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">250</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">500</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">1K</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">2K</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">4K</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">STC</span>
                  </th>
                </tr>
                <tr>
                  <td>
                    <b class="tablesaw-cell-label">Product</b
                    ><span class="tablesaw-cell-content">1B Lag</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">15</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">16</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">21</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">26</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">33</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">38</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">26</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- TABLE OF DATA -->

          <span class="text-xs text-neutral-500"
            >*The data presented in this table is provided for informational
            purposes only.</span
          >
        </div>
      </div>
    </div>
  </section>
</section>

<!-- 1B QA-3 -->
<section class="bg-slightly-white py-24">
  <section class="container mx-auto max-w-screen-md px-10">
    <div class="container m-auto">
      <div>
        <h3 class="secondary-header">1B QA-3</h3>

        <div class="mb-8 flex flex-col sm:flex-row">
          <div>
            <h4 class="subheader">
              Reinforced Foil-Faced Vinyl Barrier Bonded to 1” Scrim Faced
              Quilted Fiberglass
            </h4>
            <div class="mb-8 text-neutral-500">
              <p class="mb-6 leading-normal">
                PDF Spec Sheets:
                <a
                  target="_blank"
                  class="text-iesGreen underline"
                  href="/public/pdf/ies2000datasheet-ductlagging.pdf"
                  >1B QA-3 Duct Lagging</a
                >
              </p>
            </div>
          </div>
          <img
            class="max-w-36 sm:ms-auto"
            width="200px"
            height="200px"
            src="/public/images/ies2000_duct_lagging_1b_lag_qa3.jpg"
            alt=""
          />
        </div>

        <!-- PRODUCT DATA -->
        <div class="mb-8">
          <h4 class="subheader">Product Data</h4>
          <div class="text-neutral-500">
            <ul class="list-inside list-disc text-neutral-500">
              <li class="mb-4">1 Pound Per Square Foot</li>
              <li class="mb-4">Nominal Thickness: 1.0″</li>
              <li class="mb-4">Standard Roll: 48″W x 30'L</li>
              <li class="mb-4">Weight: 1.2 lb. psf</li>
              <li class="mb-4">Temperature Range: -20° to +350° F</li>
              <li class="mb-4">“R” Factor: 4.0</li>
              <li class="mb-4">Flammability - Class A (or 1) Per ASTM E84</li>
              <li class="mb-4">Flammability / Smoke Density: 19.5</li>
              <li class="mb-4">Flammability / Flame Spread: 12.5</li>
              <li class="mb-4">
                Easy to cut, wrap and install with matching lag tape
              </li>
            </ul>
          </div>
        </div>

        <!-- ACOUSTICAL DATA -->
        <div>
          <h4 class="subheader">Acoustical Data</h4>
          <div class="text-neutral-500">
            <p class="mb-6 leading-normal">
              Sound Transmission Loss (dB) Octave & Center Frequencies
            </p>
          </div>

          <!-- TABLE OF DATA -->
          <div class="table-wrap">
            <div class="tablesaw-bar mode-stack"></div>
            <table
              class="tablesaw tablesaw-stack"
              data-tablesaw-mode="stack"
              id="table-8316"
            >
              <thead>
                <tr>
                  <th rowspan="2">Product</th>
                  <th colspan="7">
                    Octave Band Frequencies (Hz)<br />
                    ASTM E-90 &amp; E 413
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>
                    <b class="tablesaw-cell-label">Product</b
                    ><span class="tablesaw-cell-content">125</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">250</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">500</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">1K</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">2K</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">4K</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">8K</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">STC</span>
                  </th>
                </tr>
                <tr>
                  <td>
                    <b class="tablesaw-cell-label">Product</b
                    ><span class="tablesaw-cell-content">1B QA-3</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">18</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">18</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">23</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">30</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">39</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">46</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">29</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- TABLE OF DATA -->

          <span class="text-xs text-neutral-500"
            >*The data presented in this table is provided for informational
            purposes only.</span
          >
        </div>
      </div>
    </div>
  </section>
</section>

<!-- 1B QA-9 -->
<section class="bg-iesGreen-lightest py-24">
  <section class="container mx-auto max-w-screen-md px-10">
    <div class="container m-auto">
      <div>
        <h3 class="secondary-header">1B QA-9</h3>

        <div class="mb-8 flex flex-col sm:flex-row">
          <div>
            <h4 class="subheader">
              Reinforced Foil-Faced Vinyl Barrier Bonded to 2” Scrim Faced
              Quilted Fiberglass
            </h4>
            <div class="mb-8 text-neutral-500">
              <p class="mb-6 leading-normal">
                PDF Spec Sheets:
                <a
                  target="_blank"
                  class="text-iesGreen underline"
                  href="/public/pdf/ies2000datasheet-ductlagging.pdf"
                  >1B QA-9 Duct Lagging</a
                >
              </p>
            </div>
          </div>
          <img
            class="max-w-36 sm:ms-auto"
            width="200px"
            height="200px"
            src="/public/images/ies2000_duct_lagging_1b_lag_qa3.jpg"
            alt=""
          />
        </div>

        <!-- PRODUCT DATA -->
        <div class="mb-8">
          <h4 class="subheader">Product Data</h4>
          <div class="text-neutral-500">
            <ul class="list-inside list-disc text-neutral-500">
              <li class="mb-4">1 Pound Per Square Foot</li>
              <li class="mb-4">Nominal Thickness: 2.0″</li>
              <li class="mb-4">Standard Roll: 48″W x 30'L</li>
              <li class="mb-4">Weight: 1.4 lb. psf</li>
              <li class="mb-4">Temperature Range: -20° to +200° F</li>
              <li class="mb-4">“R” Factor: 8.0</li>
              <li class="mb-4">Flammability - Class A (or 1) Per ASTM E84</li>
              <li class="mb-4">Flammability / Smoke Density: 19.5</li>
              <li class="mb-4">Flammability / Flame Spread: 12.5</li>
              <li class="mb-4">
                Easy to cut, wrap and install with matching lag tape
              </li>
            </ul>
          </div>
        </div>

        <!-- ACOUSTICAL DATA -->
        <div>
          <h4 class="subheader">Acoustical Data</h4>
          <div class="text-neutral-500">
            <p class="mb-6 leading-normal">
              Sound Transmission Loss (dB) Octave & Center Frequencies
            </p>
          </div>

          <!-- TABLE OF DATA -->
          <div class="table-wrap">
            <div class="tablesaw-bar mode-stack"></div>
            <table
              class="tablesaw tablesaw-stack"
              data-tablesaw-mode="stack"
              id="table-9250"
            >
              <thead>
                <tr>
                  <th rowspan="2">Product</th>
                  <th colspan="7">
                    Octave Band Frequencies (Hz)<br />
                    ASTM E-90 &amp; E 413
                  </th>
                </tr>
                <tr>
                  <th>
                    <b class="tablesaw-cell-label">125</b
                    ><span class="tablesaw-cell-content">125</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label">250</b
                    ><span class="tablesaw-cell-content">250</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label">500</b
                    ><span class="tablesaw-cell-content">500</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label">1K</b
                    ><span class="tablesaw-cell-content">1K</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label">2K</b
                    ><span class="tablesaw-cell-content">2K</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label">4K</b
                    ><span class="tablesaw-cell-content">4K</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label">STC</b
                    ><span class="tablesaw-cell-content">STC</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <b class="tablesaw-cell-label">125</b
                    ><span class="tablesaw-cell-content">1B QA-9</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">250</b
                    ><span class="tablesaw-cell-content">19</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">500</b
                    ><span class="tablesaw-cell-content">20</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">1K</b
                    ><span class="tablesaw-cell-content">23</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">2K</b
                    ><span class="tablesaw-cell-content">33</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">4K</b
                    ><span class="tablesaw-cell-content">44</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">STC</b
                    ><span class="tablesaw-cell-content"
                      ><b class="tablesaw-cell-label tablesaw-cell-label-top"
                        >Octave Band Frequencies (Hz)<br />
                        ASTM E-90 &amp; E 413</b
                      >53</span
                    >
                  </td>
                  <td>30</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- TABLE OF DATA -->

          <span class="text-xs text-neutral-500"
            >*The data presented in this table is provided for informational
            purposes only.</span
          >
        </div>
      </div>
    </div>
  </section>
</section>

<!-- 2B LAG -->
<section class="bg-slightly-white py-24">
  <section class="container mx-auto max-w-screen-md px-10">
    <div class="container m-auto">
      <div>
        <h3 class="secondary-header">2B LAG</h3>

        <div class="mb-8 flex flex-col sm:flex-row">
          <div>
            <h4 class="subheader">Reinforced Mylar-Faced Vinyl Barrier</h4>
            <div class="mb-8 text-neutral-500">
              <p class="mb-6 leading-normal">
                PDF Spec Sheets:
                <a
                  target="_blank"
                  class="text-iesGreen underline"
                  href="/public/pdf/ies2000datasheet-ductlagging.pdf"
                  >2B Duct Lagging</a
                >
              </p>
            </div>
          </div>
          <img
            class="max-w-36 sm:ms-auto"
            width="227px"
            height="130px"
            src="/public/images/ies2000_duct_lagging_2b_lag.jpg"
            alt=""
          />
        </div>

        <!-- PRODUCT DATA -->
        <div class="mb-8">
          <h4 class="subheader">Product Data</h4>
          <div class="text-neutral-500">
            <ul class="list-inside list-disc text-neutral-500">
              <li class="mb-4">1 Pound Per Square Foot</li>
              <li class="mb-4">Nominal Thickness: 1.0″</li>
              <li class="mb-4">Standard Roll: 48″W x 30’L</li>
              <li class="mb-4">Weight: 2.2 lb. psf</li>
              <li class="mb-4">Temperature Range: -20° to +350° F</li>
              <li class="mb-4">“R” Factor: 4.0</li>
              <li class="mb-4">Flammability – Class A (or 1) Per ASTM E84</li>
              <li class="mb-4">Flammability / Smoke Density: 19.5</li>
              <li class="mb-4">Flammability / Flame Spread: 12.5</li>
              <li class="mb-4">
                Easy to cut, wrap and install with matching lag tape
              </li>
            </ul>
          </div>
        </div>

        <!-- ACOUSTICAL DATA -->
        <div>
          <h4 class="subheader">Acoustical Data</h4>
          <div class="text-neutral-500">
            <p class="mb-6 leading-normal">
              Sound Transmission Loss (dB) Octave & Center Frequencies
            </p>
          </div>

          <!-- TABLE OF DATA -->
          <div class="table-wrap">
            <div class="tablesaw-bar mode-stack"></div>
            <table
              class="tablesaw tablesaw-stack"
              data-tablesaw-mode="stack"
              id="table-1764"
            >
              <thead>
                <tr>
                  <th rowspan="2">Product</th>
                  <th colspan="7">
                    Octave Band Frequencies (Hz)<br />
                    ASTM E-90 &amp; E 413
                  </th>
                </tr>
                <tr>
                  <th>
                    <b class="tablesaw-cell-label">125</b
                    ><span class="tablesaw-cell-content">125</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label">250</b
                    ><span class="tablesaw-cell-content">250</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label">500</b
                    ><span class="tablesaw-cell-content">500</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label">1K</b
                    ><span class="tablesaw-cell-content">1K</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label">2K</b
                    ><span class="tablesaw-cell-content">2K</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label">4K</b
                    ><span class="tablesaw-cell-content">4K</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label">STC</b
                    ><span class="tablesaw-cell-content">STC</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <b class="tablesaw-cell-label">125</b
                    ><span class="tablesaw-cell-content">2B QA-3</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">250</b
                    ><span class="tablesaw-cell-content">20</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">500</b
                    ><span class="tablesaw-cell-content">23</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">1K</b
                    ><span class="tablesaw-cell-content">28</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">2K</b
                    ><span class="tablesaw-cell-content">37</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">4K</b
                    ><span class="tablesaw-cell-content">48</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">STC</b
                    ><span class="tablesaw-cell-content"
                      ><b class="tablesaw-cell-label tablesaw-cell-label-top"
                        >Octave Band Frequencies (Hz)<br />
                        ASTM E-90 &amp; E 413</b
                      >56</span
                    >
                  </td>
                  <td>32</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- TABLE OF DATA -->

          <span class="text-xs text-neutral-500"
            >*The data presented in this table is provided for informational
            purposes only.</span
          >
        </div>
      </div>
    </div>
  </section>
</section>

<!-- 2B QA-3 -->
<section class="bg-iesGreen-lightest py-24">
  <section class="container mx-auto max-w-screen-md px-10">
    <div class="container m-auto">
      <div>
        <h3 class="secondary-header">2B QA-3</h3>

        <div class="mb-8 flex flex-col sm:flex-row">
          <div>
            <h4 class="subheader">
              Reinforced Foil-Faced Vinyl Barrier Bonded to 1” Thick Quilted
              Fiberglass Absorber
            </h4>
            <div class="mb-8 text-neutral-500">
              <p class="mb-6 leading-normal">
                PDF Spec Sheets:
                <a
                  target="_blank"
                  class="text-iesGreen underline"
                  href="/public/pdf/ies2000datasheet-ductlagging.pdf"
                  >2B QA-3 Duct Lagging</a
                >
              </p>
            </div>
          </div>
          <img
            class="max-w-36 sm:ms-auto"
            width="227px"
            height="130px"
            src="/public/images/ies2000_duct_lagging_2b_lag_qa3-9.png"
            alt=""
          />
        </div>

        <!-- PRODUCT DATA -->
        <div class="mb-8">
          <h4 class="subheader">Product Data</h4>
          <div class="text-neutral-500">
            <ul class="list-inside list-disc text-neutral-500">
              <li class="mb-4">2 Pound Per Square Foot</li>
              <li class="mb-4">Nominal Thickness: 1.0″</li>
              <li class="mb-4">Standard Roll: 48″W x 30’L</li>
              <li class="mb-4">Weight: 2.2 lb. psf</li>
              <li class="mb-4">Temperature Range: -20° to +350° F</li>
              <li class="mb-4">“R” Factor: 4.0</li>
              <li class="mb-4">Flammability – Class A (or 1) Per ASTM E84</li>
              <li class="mb-4">Flammability / Smoke Density: 19.5</li>
              <li class="mb-4">Flammability / Flame Spread: 12.5</li>
              <li class="mb-4">
                Easy to cut, wrap and install with matching lag tape
              </li>
            </ul>
          </div>
        </div>

        <!-- ACOUSTICAL DATA -->
        <div>
          <h4 class="subheader">Acoustical Data</h4>
          <div class="text-neutral-500">
            <p class="mb-6 leading-normal">
              Sound Transmission Loss (dB) Octave & Center Frequencies
            </p>
          </div>

          <!-- TABLE OF DATA -->
          <div class="table-wrap">
            <div class="tablesaw-bar mode-stack"></div>
            <table
              class="tablesaw tablesaw-stack"
              data-tablesaw-mode="stack"
              id="table-9579"
            >
              <thead>
                <tr>
                  <th rowspan="2">Product</th>
                  <th colspan="7">
                    Octave Band Frequencies (Hz)<br />
                    ASTM E-90 &amp; E 413
                  </th>
                </tr>
                <tr>
                  <th>
                    <b class="tablesaw-cell-label">125</b
                    ><span class="tablesaw-cell-content">125</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label">250</b
                    ><span class="tablesaw-cell-content">250</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label">500</b
                    ><span class="tablesaw-cell-content">500</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label">1K</b
                    ><span class="tablesaw-cell-content">1K</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label">2K</b
                    ><span class="tablesaw-cell-content">2K</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label">4K</b
                    ><span class="tablesaw-cell-content">4K</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label">STC</b
                    ><span class="tablesaw-cell-content">STC</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <b class="tablesaw-cell-label">125</b
                    ><span class="tablesaw-cell-content">2B QA-3</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">250</b
                    ><span class="tablesaw-cell-content">20</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">500</b
                    ><span class="tablesaw-cell-content">23</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">1K</b
                    ><span class="tablesaw-cell-content">28</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">2K</b
                    ><span class="tablesaw-cell-content">37</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">4K</b
                    ><span class="tablesaw-cell-content">48</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">STC</b
                    ><span class="tablesaw-cell-content"
                      ><b class="tablesaw-cell-label tablesaw-cell-label-top"
                        >Octave Band Frequencies (Hz)<br />
                        ASTM E-90 &amp; E 413</b
                      >56</span
                    >
                  </td>
                  <td>32</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- TABLE OF DATA -->

          <span class="text-xs text-neutral-500"
            >*The data presented in this table is provided for informational
            purposes only.</span
          >
        </div>
      </div>
    </div>
  </section>
</section>

<!-- 2B QA-3 -->
<section class="bg-slightly-white py-24">
  <section class="container mx-auto max-w-screen-md px-10">
    <div class="container m-auto">
      <div>
        <h3 class="secondary-header">2B QA-9</h3>

        <div class="mb-8 flex flex-col sm:flex-row">
          <div>
            <h4 class="subheader">
              Reinforced Foil-Faced Vinyl Barrier Bonded to 2” Scrim Faced
              Quilted Fiberglass
            </h4>
            <div class="mb-8 text-neutral-500">
              <p class="mb-6 leading-normal">
                PDF Spec Sheets:
                <a
                  target="_blank"
                  class="text-iesGreen underline"
                  href="/public/pdf/ies2000datasheet-ductlagging.pdf"
                  >2B QA-9 Duct Lagging</a
                >
              </p>
            </div>
          </div>
          <img
            class="max-w-36 sm:ms-auto"
            width="227px"
            height="130px"
            src="/public/images/ies2000_duct_lagging_2b_lag_qa3-9.png"
            alt=""
          />
        </div>

        <!-- PRODUCT DATA -->
        <div class="mb-8">
          <h4 class="subheader">Product Data</h4>
          <div class="text-neutral-500">
            <ul class="list-inside list-disc text-neutral-500">
              <li class="mb-4">2 Pound Per Square Foot</li>
              <li class="mb-4">Nominal Thickness: 2.0″</li>
              <li class="mb-4">Standard Roll: 48″W x 30'L</li>
              <li class="mb-4">Weight: 2.4 lb. psf</li>
              <li class="mb-4">Temperature Range: -20° to +200° F</li>
              <li class="mb-4">
                “R” Factor: 9.0Flammability - Class A (or 1) Per ASTM E84
              </li>
              <li class="mb-4">Flammability / Smoke Density: 19.5</li>
              <li class="mb-4">Flammability / Flame Spread: 12.5</li>
              <li class="mb-4">
                Easy to cut, wrap and install with matching lag tape
              </li>
              <li class="mb-4">100% adhesion between barrier and quilt</li>
            </ul>
          </div>
        </div>

        <!-- ACOUSTICAL DATA -->
        <div>
          <h4 class="subheader">Acoustical Data</h4>
          <div class="text-neutral-500">
            <p class="mb-6 leading-normal">
              Sound Transmission Loss (dB) Octave & Center Frequencies
            </p>
          </div>

          <!-- TABLE OF DATA -->
          <div class="table-wrap">
            <div class="tablesaw-bar mode-stack"></div>
            <table
              class="tablesaw tablesaw-stack"
              data-tablesaw-mode="stack"
              id="table-4138"
            >
              <thead>
                <tr>
                  <th rowspan="2">Product</th>
                  <th colspan="7">
                    Octave Band Frequencies (Hz)<br />
                    ASTM E-90 &amp; E 413
                  </th>
                </tr>
                <tr>
                  <th>
                    <b class="tablesaw-cell-label">125</b
                    ><span class="tablesaw-cell-content">125</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label">250</b
                    ><span class="tablesaw-cell-content">250</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label">500</b
                    ><span class="tablesaw-cell-content">500</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label">1K</b
                    ><span class="tablesaw-cell-content">1K</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label">2K</b
                    ><span class="tablesaw-cell-content">2K</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label">4K</b
                    ><span class="tablesaw-cell-content">4K</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label">STC</b
                    ><span class="tablesaw-cell-content">STC</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <b class="tablesaw-cell-label">125</b
                    ><span class="tablesaw-cell-content">2B QA-9</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">250</b
                    ><span class="tablesaw-cell-content">21</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">500</b
                    ><span class="tablesaw-cell-content">24</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">1K</b
                    ><span class="tablesaw-cell-content">30</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">2K</b
                    ><span class="tablesaw-cell-content">41</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">4K</b
                    ><span class="tablesaw-cell-content">54</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">STC</b
                    ><span class="tablesaw-cell-content"
                      ><b class="tablesaw-cell-label tablesaw-cell-label-top"
                        >Octave Band Frequencies (Hz)<br />
                        ASTM E-90 &amp; E 413</b
                      >58</span
                    >
                  </td>
                  <td>34</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- TABLE OF DATA -->

          <span class="text-xs text-neutral-500"
            >*The data presented in this table is provided for informational
            purposes only.</span
          >
        </div>
      </div>
    </div>
  </section>
</section>

{% include 'components/_want-help-contact-us.html' %}
<!--  -->
{% endblock %}
