{% extends 'layouts/base.html' %}
<!--  -->
{% set title = "Fabric Panels & Ceiling Products" %}
<!--  -->
{% set pageTitle = "Fabric Panels & Ceiling Products" %}
<!--  -->
{% set description = "Wall Panels are the ideal solution for new construction or
renovation in spaces with reverberant noise problems. Our lightweight custom
panels can be easily installed on wall or ceiling applications, and are
available in standard sizes or can be customized to meet specific design
criteria." %}
<!--  -->
{% block content %}

<!-- IMAGE & TITLE -->
<section
  class="relative flex h-[350px] items-center bg-[url('/public/images/ies2000_ceiling_products.jpg')] bg-cover bg-center bg-no-repeat"
>
  {% include 'components/_image-title.html' %}
</section>

<!-- FABRIC PANELS -->
<section class="bg-slightly-white py-24">
  <section class="container mx-auto max-w-screen-md px-10">
    <div class="container m-auto">
      <h2 class="main-header">Fabric Panels</h2>
      <div class="mb-8 text-neutral-500">
        <p class="mb-6 leading-normal">
          Wall Panels are the ideal solution for new construction or renovation
          in spaces with reverberant noise problems. Our lightweight custom
          panels can be easily installed on wall or ceiling applications, and
          are available in standard sizes or can be customized to meet specific
          design criteria. Because our panels are class A fire rated, and
          available in a wide selection of finishes, fabrics and color options,
          you can safely customize to enhance your interior décor. We can even
          customize using fabrics of your own material!
        </p>

        <div class="my-12">
          <a
            class="rounded-full bg-iesGreen px-6 py-3 text-slightly-white transition-all duration-200 ease-out hover:bg-iesGreen-light"
            href="/public/pdf/ies2000datasheet-ductlagging.pdf"
            target="_blank"
            rel="noopener"
            >Download Product Brochure</a
          >
        </div>

        <p class="mb-6 leading-normal">Click on the name to view PDF:</p>
      </div>
      <div class="flex flex-wrap justify-center gap-12 text-neutral-700">
        <a href="/public/pdf/ies2000datasheet-fabricpanels.pdf" target="_blank">
          <div
            class="flex w-72 transform flex-col items-center rounded-lg bg-iesGreen-lightest px-12 py-6 transition-all duration-200 ease-in-out hover:scale-1025 hover:cursor-pointer"
          >
            <img
              src="/public/images/wall_panels/ies2000_fabric_panels_s-2000.png"
              width="110px"
              height="110px"
              alt=""
              class="mb-3 rounded-lg"
            />
            <p class="">S-2000 Wall Panels</p>
          </div>
        </a>

        <a href="/public/pdf/ies2000datasheet-fabricpanels.pdf" target="_blank">
          <div
            class="flex w-72 transform flex-col items-center rounded-lg bg-iesGreen-lightest py-6 transition-all duration-200 ease-in-out hover:scale-1025 hover:cursor-pointer"
          >
            <img
              src="/public/images/wall_panels/ies2000_fabric_panels_s-2100.png"
              width="110px"
              height="110px"
              alt=""
              class="mb-3 rounded-lg"
            />
            <p class="">S-2100 Wall Panels</p>
          </div>
        </a>

        <a href="/public/pdf/ies2000datasheet-fabricpanels.pdf" target="_blank">
          <div
            class="flex w-72 transform flex-col items-center rounded-lg bg-iesGreen-lightest py-6 transition-all duration-200 ease-in-out hover:scale-1025 hover:cursor-pointer"
          >
            <img
              src="/public/images/wall_panels/ies2000_fabric_panels_s-2500.png"
              width="110px"
              height="110px"
              alt=""
              class="mb-3 rounded-lg"
            />
            <p class="">S-2500 Wall Panels</p>
          </div>
        </a>
        <a href="/public/pdf/ies2000datasheet-fabricpanels.pdf" target="_blank">
          <div
            class="flex w-72 transform flex-col items-center rounded-lg bg-iesGreen-lightest py-6 transition-all duration-200 ease-in-out hover:scale-1025 hover:cursor-pointer"
          >
            <img
              src="/public/images/wall_panels/ies2000_fabric_panels_s-3000.png"
              width="110px"
              height="110px"
              alt=""
              class="mb-3 rounded-lg"
            />
            <p class="">S-3000 Wall Panels</p>
          </div>
        </a>
        <a href="/public/pdf/ies2000datasheet-fabricpanels.pdf" target="_blank">
          <div
            class="flex w-72 transform flex-col items-center rounded-lg bg-iesGreen-lightest py-6 transition-all duration-200 ease-in-out hover:scale-1025 hover:cursor-pointer"
          >
            <img
              src="/public/images/wall_panels/ies2000_fabric_panels_s-3100.png"
              width="110px"
              height="110px"
              alt=""
              class="mb-3 rounded-lg"
            />
            <p class="">S-3100 Wall Panels</p>
          </div>
        </a>
        <a href="/public/pdf/ies2000datasheet-fabricpanels.pdf" target="_blank">
          <div
            class="flex w-72 transform flex-col items-center rounded-lg bg-iesGreen-lightest py-6 transition-all duration-200 ease-in-out hover:scale-1025 hover:cursor-pointer"
          >
            <img
              src="/public/images/wall_panels/ies2000_fabric_panels_s-4000.png"
              width="110px"
              height="110px"
              alt=""
              class="mb-3 rounded-lg"
            />
            <p class="">S-4000 Wall Panels</p>
          </div>
        </a>
        <a href="/public/pdf/ies2000datasheet-fabricpanels.pdf" target="_blank">
          <div
            class="flex w-72 transform flex-col items-center rounded-lg bg-iesGreen-lightest py-6 transition-all duration-200 ease-in-out hover:scale-1025 hover:cursor-pointer"
          >
            <img
              src="/public/images/wall_panels/ies2000_fabric_panels_s-4100.png"
              width="110px"
              height="110px"
              alt=""
              class="mb-3 rounded-lg"
            />
            <p class="">S-4100 Wall Panels</p>
          </div>
        </a>
        <a href="/public/pdf/ies2000datasheet-fabricpanels.pdf" target="_blank">
          <div
            class="flex w-72 transform flex-col items-center rounded-lg bg-iesGreen-lightest py-6 transition-all duration-200 ease-in-out hover:scale-1025 hover:cursor-pointer"
          >
            <img
              src="/public/images/wall_panels/ies2000_fabric_panels_arch_wall_panels.jpg"
              width="110px"
              height="110px"
              alt=""
              class="mb-3 rounded-lg"
            />
            <p class="text-wrap">Architectural Wall Panels</p>
          </div>
        </a>
      </div>
    </div>
  </section>
</section>

<!-- CELING PRODUCTS -->
<section class="bg-iesGreen-lightest py-24">
  <section class="container mx-auto max-w-screen-md px-10">
    <div class="container m-auto">
      <h2 class="main-header mb-3">Ceiling Products</h2>
      <h3 class="secondary-header">Banners, Baffles, and Ceiling Tiles</h3>
      <div class="text-neutral-500">
        <div class="mb-3 mt-12">
          <a
            class="rounded-full bg-iesGreen px-6 py-3 text-slightly-white transition-all duration-200 ease-out hover:bg-iesGreen-light"
            href="/public/pdf/ies2000datasheet-ceilingproducts.pdf"
            target="_blank"
            rel="noopener"
            >Download Product Brochure</a
          >
        </div>
      </div>
    </div>
  </section>
</section>

<!-- BANNERS-->
<section class="bg-slightly-white pb-12 pt-24">
  <section class="container mx-auto max-w-screen-md px-10">
    <div class="container m-auto">
      <div>
        <h3 class="secondary-header">Banners</h3>

        <div class="mb-8 text-neutral-500">
          <p class="mb-6 leading-normal">
            Ceiling Banners are the solution for any large space that has
            reverberation problems. Banners can be arranged to create various
            architectural affects with various colors, sizes and models.
            Installation of Banners in rows 24” to 36” apart over an entire
            reverberant area can result in an optimum acoustical environment.
          </p>
        </div>

        <!-- PRODUCT DATA -->
        <div class="">
          <h4 class="subheader">Product Data</h4>
          <div class="text-neutral-500">
            <ul class="list-inside list-disc text-neutral-500">
              <li class="mb-4">Construction: Flexible</li>
              <li class="mb-4">Sizes: 48” x any length to 25 feet</li>
              <li class="mb-4">Thickness: 1”, 1½”, 2”</li>
              <li class="mb-4">Substrate: 2.0lb or 3.0 lb.</li>
              <li class="mb-4">Facing: PVC, Sailcloth, Guilford FR 701</li>
              <li class="mb-4">Edge Detail: Sewn</li>
              <li class="">NRC: .70 - 1.00</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<!-- SAILCLOTH SOUND ABSORPTION BANNERS-->
<section class="bg-slightly-white pb-24">
  <section class="container mx-auto max-w-screen-md px-10">
    <div class="container m-auto">
      <div>
        <h3 class="secondary-header">Sailcloth Sound Absorption Banners</h3>

        <div class="mb-8 text-neutral-500">
          <p class="mb-6 leading-normal">
            Sailcloth Banners are an efficient solution to sound reverberation
            issues. The Sailcloth banner is comprised of a Rip Stop nylon bag
            encompassing a sound absorptive fiberglass, sewn around the entire
            perimeter. The product is supplied as banners available in Red,
            White, Royal, Yellow, Black, Navy, Purple, Silver and Teal. Grommets
            are installed for suspending the banners from wire or cable ties.
          </p>
          <p class="mb-6 leading-normal">
            PDF Spec Sheets:
            <a
              target="_blank"
              class="text-iesGreen underline"
              href="/public/pdf/ies2000datasheet-ceilingproducts.pdf"
              >Sailcloth Banners</a
            >
          </p>
        </div>

        <!-- PRODUCT DATA -->
        <div class="mb-8">
          <h4 class="subheader">Product Data</h4>
          <div class="text-neutral-500">
            <ul class="list-inside list-disc text-neutral-500">
              <li class="mb-4">
                1.6 lb/ft3 Fiberglass Core Inside a Sewn Ripstop Bag
              </li>
              <li class="mb-4">NRC rating 11.0 per 4'x2' banner</li>
              <li class="mb-4">Class A (or 1) per ASTM E84</li>
              <li class="mb-4">The white facing is light reflective</li>
              <li class="mb-4">Lightweight, easy to install</li>
              <li class="mb-4">
                Standard thickness of 1″, 1-1/2″ or 2″ with other options
                available.
              </li>
              <li class="mb-4">
                Standard size: 48” x any length to 25' with other options
                available
              </li>
              <li class="mb-4">
                Options for size, fiberglass core density and thickness
                available -
                <a class="underline" href="/contact-us">Contact us</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- APPLICATION -->
        <div class="">
          <h4 class="subheader">Application</h4>
          <div class="mb-8 text-neutral-500">
            <p class="mb-6 leading-normal">
              Applications: Typically used in areas where you want to introduce
              soft, sound absorption materials into hard, reflective
              environments to reduce the reverberant noise energy in a room.
              This creates an improved acoustical environment with lower noise
              levels and clearer communication in such applications as wood
              working facilities, manufacturing plants, gymnasiums, sports
              arenas, environmental control booths, and music rooms. Acoustical
              Performance (Sabins per 4'x2' banner):
            </p>
          </div>

          <!-- TABLE OF DATA -->
          <div class="table-wrap">
            <div class="tablesaw-bar mode-stack"></div>
            <table
              class="tablesaw tablesaw-stack"
              data-tablesaw-mode="stack"
              id="table-8316"
            >
              <thead>
                <tr>
                  <th rowspan="2">Product</th>
                  <th colspan="7">
                    Octave Band Frequencies (Hz)<br />
                    ASTM E-90 &amp; E 413
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>
                    <b class="tablesaw-cell-label">Product</b
                    ><span class="tablesaw-cell-content">125</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">250</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">500</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">1K</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">2K</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">4K</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">8K</span>
                  </th>
                  <th>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">STC</span>
                  </th>
                </tr>
                <tr>
                  <td>
                    <b class="tablesaw-cell-label">Product</b
                    ><span class="tablesaw-cell-content">1B QA-3</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">18</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">18</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">23</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">30</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">39</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">46</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label"
                      >Octave Band Frequencies (Hz)<br />
                      ASTM E-90 &amp; E 413</b
                    ><span class="tablesaw-cell-content">29</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- TABLE OF DATA -->

          <span class="text-xs text-neutral-500"
            >*The data presented in this table is provided for informational
            purposes only.</span
          >
        </div>
      </div>
    </div>
  </section>
</section>

<!-- BAFFLES-->
<section class="bg-iesGreen-lightest py-24">
  <section class="container mx-auto max-w-screen-md px-10">
    <div class="container m-auto">
      <div>
        <h3 class="secondary-header">Baffles</h3>

        <div class="mb-8 text-neutral-500">
          <p class="mb-6 leading-normal">
            Ceiling Baffles are the solution for any large space that has
            reverberation problems. Baffles can be arranged to create various
            architectural affects with various colors, sizes and models.
            Installation of Baffles in rows 24″ to 36″ apart over an entire
            reverberant area can result in an optimum acoustical environment.
          </p>
        </div>

        <!-- PRODUCT DATA -->
        <div class="">
          <h4 class="subheader">Product Data</h4>
          <div class="text-neutral-500">
            <ul class="list-inside list-disc text-neutral-500">
              <li class="mb-4">Ambient noise reduction to 10 dB</li>
              <li class="mb-4">Light weight and self supporting</li>
              <li class="">Available with an FDA approval</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<!-- CEILING TILES-->
<section class="bg-slightly-white py-24">
  <section class="container mx-auto max-w-screen-md px-10">
    <div class="container m-auto">
      <div>
        <h3 class="secondary-header">Ceiling Tiles</h3>

        <div class="mb-8 text-neutral-500">
          <p class="mb-6 leading-normal">
            IES-2000 has a variety of acoustical ceiling tiles and systems that
            can provide the aesthetic and noise control for any type of
            application. The available styles of ceiling tiles can be see below
            and can accommodate the standard and non-standard suspended grid
            systems and some of our products can be applied directly to existing
            ceilings. For specific product information please contact us to
            review your application.
          </p>
        </div>
      </div>
    </div>
  </section>
</section>

{% include 'components/_want-help-contact-us.html' %}
<!--  -->
{% endblock %}
