{% extends 'layouts/base.html' %}
<!--  -->
{% set title = "Industrial Noise Control Engineering" %}
<!--  -->
{% set pageTitle = "Industrial Noise Control Engineering" %}
<!--  -->
{% set description = "IES-2000 has been assisting clients resolve their noise
control issues with acoustical engineering for over 20 years, whether it is
providing compliance with new equipment specifications pertaining to noise
levels, feasibility studies, workplace noise exposure monitoring and community
noise studies." %}
<!--  -->
{% block content %}

<!-- IMAGE AND TITLE -->
<section
  class="relative flex h-[350px] items-center bg-[url('/public/images/page_headers/ies2000_industrial_noise_control_engineering.jpg')] bg-cover bg-center bg-no-repeat"
>
  {% include 'components/_image-title.html' %}
</section>

<!-- Industrial Noise Control Engineering -->
<section class="bg-slightly-white py-24">
  <section class="container mx-auto max-w-screen-md px-10">
    <div class="container m-auto">
      <h2 class="main-header">Industrial Noise Control Engineering</h2>
      <div class="mb-8 text-neutral-500">
        <p class="mb-6 leading-normal">
          IES-2000 has been assisting clients resolve their industrial noise
          control and noise level issues with acoustical engineering for over 20
          years, whether it is providing compliance with new equipment
          specifications pertaining to industrial noise levels, feasibility
          studies, workplace noise exposure monitoring, industrial noise
          reduction and community noise studies. The scope of the work is
          developed by the client to determine how to attain their goals of
          meeting or exceeding regulatory or company standards pertaining to
          acceptable industrial noise levels, employee exposures or community
          noise issues.
        </p>
      </div>

      <div class="mb-8">
        <h4 class="subheader">Feasibility Study Objectives</h4>
        <ul class="list-inside list-disc text-neutral-500">
          <li class="mb-4">Determine a Design Goal</li>
          <li class="mb-4">Determine the Existing Acoustical Condition</li>
          <li class="mb-4">
            Determine the Required Industrial Noise Reduction
          </li>
          <li class="mb-4">Identify the Sound Transmission Paths</li>
          <li class="mb-4">Design Potential Noise Abatement Systems</li>
          <li class="mb-4">Final Report</li>
        </ul>
      </div>

      <div class="mb-8">
        <h4 class="subheader">Workplace Noise Exposure Objectives</h4>
        <ul class="list-inside list-disc text-neutral-500">
          <li class="mb-4">
            Noise Exposure Monitoring performed per OSHA regulations
          </li>
          <li class="mb-4">
            Identify employees for inclusion in hearing conservation program and
            allow for proper selection of hearing protection based on noise
            exposure.
          </li>
          <li class="mb-4">
            Identify specific areas for investigation of engineering or
            administrative noise control strategies.
          </li>
          <li class="mb-4">Provide annual reviews of noise exposure.</li>
          <li class="mb-4">
            Presentation of noise exposure report and database.
          </li>
        </ul>
      </div>

      <div class="">
        <h4 class="subheader">Community Noise Studies Objectives</h4>
        <ul class="list-inside list-disc text-neutral-500">
          <li class="mb-4">
            Determine what, if any, noise ordinances are in place that the
            client.
          </li>
          <li class="mb-4">
            Determine the existing industrial noise levels around the facility
            as well as the adjacent areas of concern.
          </li>
          <li class="mb-4">
            Identify the noise sources prompting the complaints from the
            adjacent neighborhoods.
          </li>
          <li class="">
            Recommend noise control and abatement measures to the noise sources
            identified and predict resulting noise levels upon implementation of
            abatement measures.
          </li>
        </ul>
      </div>
    </div>
  </section>
</section>

<section class="bg-slightly-white pb-24">
  <section class="container mx-auto max-w-screen-md px-10">
    <div class="container m-auto">
      <h2 class="main-header">Our Work</h2>

      <div class="mb-20 flex flex-col gap-6 md:flex-row">
        <div class="basis-1/3">
          <img
            src="/public/images/ies2000_automotive_transfer_press_line_case1.jpg"
            width="300px"
            height="200px"
            class="rounded-lg"
            alt="automotive transfer press line enclosure for noise control"
          />
        </div>
        <div class="basis-2/3">
          <h3 class="secondary-header">Automotive Transfer Press Line</h3>
          <p class="mb-6 leading-normal text-neutral-500">
            A large automotive manufacturer wants to reduce the industrial noise
            level from their press line 1 A to below 85 dBA for the job function
            Time Weighted Average (TWA). Press line 1A consists of 4 transfer
            presses in sequence stamping a variety of automotive parts. As you
            can imagine, each press requires access to load dies. Access to the
            line between each press is different.
          </p>
        </div>
      </div>

      <div class="mb-20 flex flex-col gap-6 md:flex-row">
        <div class="basis-1/3">
          <img
            src="/public/images/ies2000_automotive_engine_test_cell_case1.jpg"
            width="300px"
            height="200px"
            class="rounded-lg"
            alt="automotive transfer press line enclosure for noise control"
          />
        </div>
        <div class="basis-2/3">
          <h3 class="secondary-header">Automotive Engine Test Cell</h3>
          <p class="mb-6 leading-normal text-neutral-500">
            Another automotive manufacturer needed to reduce the background
            noise around and engine test cell. Access to the area at multiple
            points and ventilation were critical to the success of this project.
            The noise level inside the enclosure was reduced to 45 dBA.
          </p>
        </div>
      </div>

      <div class="mb-20 flex flex-col gap-6 md:flex-row">
        <div class="basis-1/3">
          <img
            src="/public/images/ies2000_glass_furnace_case1.jpg"
            width="300px"
            height="200px"
            class="rounded-lg"
            alt="automotive transfer press line enclosure for noise control"
          />
        </div>
        <div class="basis-2/3">
          <h3 class="secondary-header">Glass Furnace</h3>
          <p class="mb-6 leading-normal text-neutral-500">
            Reduce the noise below an 85 dBA job function TWA for the operators
            of a large glass furnace. To reduce cost of both the enclosure and
            the installation, metal panels were used for industrial noise
            reduction at the ground level for durability and curtains were used
            above the metal panels to reduce noise but also reduce cost.
          </p>
        </div>
      </div>

      <div class="flex flex-col gap-6 md:flex-row">
        <div class="basis-1/3">
          <img
            src="/public/images/ies2000_test_chamber_case1.jpg"
            width="300px"
            height="200px"
            class="rounded-lg"
            alt="automotive transfer press line enclosure for noise control"
          />
        </div>
        <div class="basis-2/3">
          <h3 class="secondary-header">Test Chamber</h3>
          <p class="mb-6 leading-normal text-neutral-500">
            Provide an area on the manufacturing floor where assemblies can be
            quickly checked for industrial noise levels. To do this, the
            background noise must be reduced from 85 dBA to 40 dBA inside the
            unit, again, while providing easy access.
          </p>
        </div>
      </div>
    </div>
  </section>
</section>

{% include 'components/_want-help-contact-us.html' %}
<!--  -->
{% endblock %}
