{% extends 'layouts/base.html' %}
<!--  -->
{% set title = "Outdoor Sound Curtains" %}
<!--  -->
{% set pageTitle = "Outdoor Sound Curtains" %}
<!--  -->
{% set description = "Our Outdoor Sound Curtains can be used for both active
Construction Sites and for many different Community Noise situations. They can
be used in conjunction with a chain link fence to surround a noisy area or to
line a noisy building, and at IES-2000, we can design a solution to meet your
design specifications." %}
<!--  -->
{% block content %}

<!-- IMAGE & TITLE -->
<section
  class="relative flex h-[400px] items-center bg-[url('/public/images/page_headers/ies2000_outdoor_sound_curtains.jpg')] bg-cover bg-center bg-no-repeat"
>
  {% include 'components/_image-title.html' %}
</section>

<!-- OUTDOOR SOUND CURTAINS -->
<section class="bg-slightly-white py-24">
  <section class="container mx-auto max-w-screen-md px-10">
    <div class="container m-auto">
      <h2 class="main-header">Outdoor Sound Curtains</h2>
      <div class="mb-8 text-neutral-500">
        <p class="mb-6 leading-normal">
          Our Outdoor Sound Curtains can be used for both active Construction
          Sites and for many different Community Noise situations. They can be
          used in conjunction with a chain link fence to surround a noisy area
          or to line a noisy building, and at IES-2000, we can design a solution
          to meet your design specifications.
        </p>
        <p class="mb-6 leading-normal">
          The barrier-backed configuration offers the benefits of both sound
          absorption and noise barrier products in one on outdoor applications.
          A cost saving non-reinforced 1-LB psf loaded vinyl barrier is bonded
          to a 2″ thick exterior grade vinyl-coated-polyester faced quilted
          fiberglass absorber. These economic modular sound curtains are
          typically constructed with grommets across the top and bottom and
          exterior grade Velcro seals along the vertical edges.
        </p>
      </div>
      <div>
        <a
          class="rounded-full bg-iesGreen px-6 py-3 text-slightly-white transition-all duration-200 ease-out hover:bg-iesGreen-light"
          href="/public/pdf/ies2000datasheet-curtainsoutdoor.pdf"
          target="_blank"
          rel="noopener"
          >Download Product Brochure</a
        >
      </div>
    </div>
  </section>
</section>

<!-- CONSTRUCTION AND COMMUNITY SITE PROJECTS -->
<section class="bg-iesGreen-lightest py-24">
  <section class="container mx-auto max-w-screen-md px-10">
    <div class="container m-auto">
      <div>
        <h3 class="secondary-header">Construction Site Projects</h3>
        <div class="mb-10 text-neutral-500">
          <p class="mb-6 leading-normal">
            Industrial composite products can be used to reduce the noise
            transmitting from the construction site to surrounding areas. They
            can be used in conjunction with pre-cast concrete highway barriers,
            hung from an overhead highway or supplied with a “hoistable” frame
            to quiet jack hammer operations. Alternately, Industrial Quilted
            Fiberglass Absorbers can be attached to temporary plywood walls.
          </p>
        </div>
      </div>
      <div>
        <h3 class="secondary-header">Community Noise Porjects</h3>
        <div class="text-neutral-500">
          <p class="leading-normal">
            Industrial noise control products have been used to reduce community
            noise from gas compressor stations, truck distribution centers,
            skateboard parks, amphitheaters, even commercial and residential air
            conditioners. IES-2000 has a full line of products that are designed
            to withstand the effect of UV rays to offer long term, outdoor noise
            control solutions.
          </p>
        </div>
      </div>
    </div>
  </section>
</section>

<!-- SPECIFICATIONS  -->
<section class="bg-slightly-white py-24">
  <section class="container mx-auto max-w-screen-md px-10">
    <div class="container m-auto">
      <div>
        <!-- PRODUCT DATA -->
        <div class="mb-8">
          <h4 class="subheader">Specifications</h4>
          <div class="text-neutral-500">
            <ul class="list-inside list-disc text-neutral-500">
              <li class="mb-4">2″ VCP faced quilted fiberglass</li>
              <li class="mb-4">
                Bonded to a 1 LB/SF non-reinforced loaded vinyl barrier
              </li>
              <li class="mb-4">
                Available facing colors on quilt: gray, tan or black
              </li>
              <li class="mb-4">Barrier color: black, tan, gray</li>
              <li class="mb-4">Offered with a UV resistant facing</li>
              <li class="mb-4">Nominal thickness: 2.0″</li>
              <li class="mb-4">Temperature range -20° to +180° F</li>
              <li class="mb-4">Standard Panel 54″ Wide</li>
              <li class="mb-4">Weight: 1.45 lb sf</li>
              <li class="mb-4">Temperature range -20° to +180° F</li>
              <li class="mb-4">Standard Panel 54″ Wide</li>
              <li class="mb-4">Weight: 1.45 lb sf</li>
              <li class="mb-4">Modular panels designed to mate together</li>
              <li class="mb-4">Lower noise levels to neighborhoods</li>
              <li class="mb-4">Reusable and Easy to install</li>
              <li class="mb-4">STC Rating: 32 / NRC Rating: 0.85</li>
            </ul>
          </div>
        </div>

        <!-- APPLICATION -->
        <div class="">
          <h4 class="subheader">Application</h4>
          <div class="mb-8 text-neutral-500">
            <p class="mb-6 leading-normal">
              Typically used as an economic Sound Curtain on temporary
              construction projects, offering a 3-5 year life span. The exterior
              grade VCP facing is specifically formulated for outdoor
              applications. Composite products offer maximum noise reduction by
              both blocking and absorbing noise at job sites. Also available
              with a two-pound psf barrier or a one-inch thick quilted
              fiberglass absorber.
            </p>
          </div>
        </div>

        <!-- ACOUSTICAL DATA -->
        <div class="mb-8">
          <h4 class="subheader">Acoustical Data</h4>
          <div class="text-neutral-500">
            <p class="mb-6 leading-normal">
              Sound Transmission Loss (dB) Octave and Center Frequencies (Hz) -
              ASTM E-90 & E 413
            </p>
          </div>

          <!-- TABLE OF DATA -->
          <div class="table-wrap">
            <div class="tablesaw-bar mode-stack"></div>
            <table
              class="tablesaw tablesaw-stack"
              data-tablesaw-mode="stack"
              id="table-206"
            >
              <thead>
                <tr>
                  <th>Product</th>
                  <th>125</th>
                  <th>250</th>
                  <th>500</th>
                  <th>1K</th>
                  <th>2K</th>
                  <th>4K</th>
                  <th>STC</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <b class="tablesaw-cell-label">Product</b
                    ><span class="tablesaw-cell-content">BA-EXT-N-2"</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">125</b
                    ><span class="tablesaw-cell-content">13</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">250</b
                    ><span class="tablesaw-cell-content">20</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">500</b
                    ><span class="tablesaw-cell-content">29</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">1K</b
                    ><span class="tablesaw-cell-content">40</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">2K</b
                    ><span class="tablesaw-cell-content">50</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">4K</b
                    ><span class="tablesaw-cell-content">55</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">STC</b
                    ><span class="tablesaw-cell-content">32</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- TABLE OF DATA -->

          <span class="text-xs text-neutral-500"
            >*The data presented in this table is provided for informational
            purposes only.</span
          >
        </div>

        <!-- ACOUSTICAL DATA -->
        <div class="mb-8">
          <div class="text-neutral-500">
            <p class="mb-6 leading-normal">
              Sound Absorption Data-Absorber Component Random Incident Sound
              Absorption - ASTM C 423
            </p>
          </div>

          <!-- TABLE OF DATA -->
          <div class="table-wrap">
            <div class="tablesaw-bar mode-stack"></div>
            <table
              class="tablesaw tablesaw-stack"
              data-tablesaw-mode="stack"
              id="table-206"
            >
              <thead>
                <tr>
                  <th>Product</th>
                  <th>125</th>
                  <th>250</th>
                  <th>500</th>
                  <th>1K</th>
                  <th>2K</th>
                  <th>4K</th>
                  <th>STC</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <b class="tablesaw-cell-label">Product</b
                    ><span class="tablesaw-cell-content">BA-EXT-N-2"</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">125</b
                    ><span class="tablesaw-cell-content">13</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">250</b
                    ><span class="tablesaw-cell-content">20</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">500</b
                    ><span class="tablesaw-cell-content">29</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">1K</b
                    ><span class="tablesaw-cell-content">40</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">2K</b
                    ><span class="tablesaw-cell-content">50</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">4K</b
                    ><span class="tablesaw-cell-content">55</span>
                  </td>
                  <td>
                    <b class="tablesaw-cell-label">STC</b
                    ><span class="tablesaw-cell-content">32</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- TABLE OF DATA -->

          <span class="text-xs text-neutral-500"
            >*The data presented in this table is provided for informational
            purposes only.</span
          >
        </div>
      </div>
    </div>
  </section>
</section>

<!-- SOUND CURTAIN TECH DATA SHEETS - OUTDOOR TEMPORARY APPLICATIONS -->
<section class="bg-iesGreen-lightest py-24">
  <section class="container mx-auto max-w-screen-md px-10">
    <div class="container m-auto">
      <div class="mb-16">
        <h4 class="subheader">
          Sound Curtain Tech Data Sheets - Outdoor Temporary Applications
        </h4>

        <!-- TABLE OF DATA -->
        <div class="table-wrap">
          <div class="tablesaw-bar mode-stack"></div>
          <table
            class="tablesaw tablesaw-stack"
            data-tablesaw-mode="stack"
            id="table-695"
          >
            <thead>
              <tr>
                <th>BBC-13x2"</th>
                <th>BBC-13X</th>
                <th>BBC-13x-2LB-2"</th>
                <th>BBC-EXT-N-2"</th>
                <th>BBC-EXT-N</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <b class="tablesaw-cell-label"> BBC-13x2"</b
                  ><span class="tablesaw-cell-content">1# PSF</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-13X</b
                  ><span class="tablesaw-cell-content">1# PSF</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-13x-2LB-2"</b
                  ><span class="tablesaw-cell-content">2# PSF</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-N-2"</b
                  ><span class="tablesaw-cell-content">1# PSF</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-N</b
                  ><span class="tablesaw-cell-content">1# PSF</span>
                </td>
              </tr>
              <tr>
                <td>
                  <b class="tablesaw-cell-label"> BBC-13x2"</b
                  ><span class="tablesaw-cell-content">Reinforced</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-13X</b
                  ><span class="tablesaw-cell-content">Reinforced</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-13x-2LB-2"</b
                  ><span class="tablesaw-cell-content">Reinforced</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-N-2"</b
                  ><span class="tablesaw-cell-content">Reinforced</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-N</b
                  ><span class="tablesaw-cell-content">Reinforced</span>
                </td>
              </tr>
              <tr>
                <td>
                  <b class="tablesaw-cell-label"> BBC-13x2"</b
                  ><span class="tablesaw-cell-content">2" Thick</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-13X</b
                  ><span class="tablesaw-cell-content">1" Thick</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-13x-2LB-2"</b
                  ><span class="tablesaw-cell-content">2" Thick</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-N-2"</b
                  ><span class="tablesaw-cell-content">2" Thick</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-N</b
                  ><span class="tablesaw-cell-content">1" Thick</span>
                </td>
              </tr>
              <tr>
                <td>
                  <b class="tablesaw-cell-label"> BBC-13x2"</b
                  ><span class="tablesaw-cell-content"
                    >Vinyl Faced Quilted</span
                  >
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-13X</b
                  ><span class="tablesaw-cell-content"
                    >Vinyl Faced Quilted</span
                  >
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-13x-2LB-2"</b
                  ><span class="tablesaw-cell-content"
                    >Vinyl Faced Quilted</span
                  >
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-N-2"</b
                  ><span class="tablesaw-cell-content"
                    >Exterior Grade Quilted</span
                  >
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-N</b
                  ><span class="tablesaw-cell-content"
                    >Exterior Grade Quilted</span
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <b class="tablesaw-cell-label"> BBC-13x2"</b
                  ><span class="tablesaw-cell-content">STC 32</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-13X</b
                  ><span class="tablesaw-cell-content">STC 27</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-13x-2LB-2"</b
                  ><span class="tablesaw-cell-content">STC 37</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-N-2"</b
                  ><span class="tablesaw-cell-content">STC 32</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-N</b
                  ><span class="tablesaw-cell-content">STC 27</span>
                </td>
              </tr>
              <tr>
                <td>
                  <b class="tablesaw-cell-label"> BBC-13x2"</b
                  ><span class="tablesaw-cell-content">NRC .85</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-13X</b
                  ><span class="tablesaw-cell-content">NRC .70</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-13x-2LB-2"</b
                  ><span class="tablesaw-cell-content">NRC .85</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-N-2"</b
                  ><span class="tablesaw-cell-content">NRC .85</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-N</b
                  ><span class="tablesaw-cell-content">NRC .70</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- TABLE OF DATA -->

        <span class="text-xs text-neutral-500"
          >*The data presented in this table is provided for informational
          purposes only.</span
        >
      </div>
    </div>
  </section>
</section>

<!-- SOUND CURTAIN TECH DATA SHEETS – OUTDOOR PERMANENT APPLICATIONS -->
<section class="bg-slightly-white py-24">
  <section class="container mx-auto max-w-screen-md px-10">
    <div class="container m-auto">
      <div class="mb-16">
        <h4 class="subheader">
          Sound Curtain Tech Data Sheets - Outdoor Permanent Applications
        </h4>

        <!-- TABLE OF DATA -->
        <div class="table-wrap">
          <div class="tablesaw-bar mode-stack"></div>
          <table
            class="tablesaw tablesaw-stack"
            data-tablesaw-mode="stack"
            id="table-3677"
          >
            <thead>
              <tr>
                <th>BBC-EXT-R-2"</th>
                <th>BBC-EXT-R</th>
                <th>BBC-EXT-R-2LB-2"</th>
                <th>BBC-EXT-R-2LB</th>
                <th>QFA-EXT-D-2"</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-R-2"</b
                  ><span class="tablesaw-cell-content">1# PSF</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-R</b
                  ><span class="tablesaw-cell-content">1# PSF</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-R-2LB-2"</b
                  ><span class="tablesaw-cell-content">2# PSF</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-R-2LB</b
                  ><span class="tablesaw-cell-content">2# PSF</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> QFA-EXT-D-2"</b
                  ><span class="tablesaw-cell-content">2# PSF</span>
                </td>
              </tr>
              <tr>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-R-2"</b
                  ><span class="tablesaw-cell-content">Reinforced</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-R</b
                  ><span class="tablesaw-cell-content">Reinforced</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-R-2LB-2"</b
                  ><span class="tablesaw-cell-content">Reinforced</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-R-2LB</b
                  ><span class="tablesaw-cell-content">Reinforced</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> QFA-EXT-D-2"</b
                  ><span class="tablesaw-cell-content">Reinforced</span>
                </td>
              </tr>
              <tr>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-R-2"</b
                  ><span class="tablesaw-cell-content">2" Thick</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-R</b
                  ><span class="tablesaw-cell-content">1" Thick</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-R-2LB-2"</b
                  ><span class="tablesaw-cell-content">2" Thick</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-R-2LB</b
                  ><span class="tablesaw-cell-content">1" Thick</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> QFA-EXT-D-2"</b
                  ><span class="tablesaw-cell-content">2" Thick</span>
                </td>
              </tr>
              <tr>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-R-2"</b
                  ><span class="tablesaw-cell-content"
                    >Exterior Grade Quilted</span
                  >
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-R</b
                  ><span class="tablesaw-cell-content"
                    >Exterior Grade Quilted</span
                  >
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-R-2LB-2"</b
                  ><span class="tablesaw-cell-content"
                    >Exterior Grade Quilted</span
                  >
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-R-2LB</b
                  ><span class="tablesaw-cell-content"
                    >Exterior Grade Quilted</span
                  >
                </td>
                <td>
                  <b class="tablesaw-cell-label"> QFA-EXT-D-2"</b
                  ><span class="tablesaw-cell-content"
                    >Exterior Grade Quilted</span
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-R-2"</b
                  ><span class="tablesaw-cell-content">Gore Tenara Thread</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-R</b
                  ><span class="tablesaw-cell-content">Gore Tenara Thread</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-R-2LB-2"</b
                  ><span class="tablesaw-cell-content">Gore Tenara Thread</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-R-2LB</b
                  ><span class="tablesaw-cell-content">Gore Tenara Thread</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> QFA-EXT-D-2"</b
                  ><span class="tablesaw-cell-content">Gore Tenara Thread</span>
                </td>
              </tr>
              <tr>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-R-2"</b
                  ><span class="tablesaw-cell-content">STC 33</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-R</b
                  ><span class="tablesaw-cell-content">STC 29</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-R-2LB-2"</b
                  ><span class="tablesaw-cell-content">STC 38</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-R-2LB</b
                  ><span class="tablesaw-cell-content">STC 38</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> QFA-EXT-D-2"</b
                  ><span class="tablesaw-cell-content">STC 21</span>
                </td>
              </tr>
              <tr>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-R-2"</b
                  ><span class="tablesaw-cell-content">NRC .75</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-R</b
                  ><span class="tablesaw-cell-content">NRC .65</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-R-2LB-2"</b
                  ><span class="tablesaw-cell-content">NRC .75</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> BBC-EXT-R-2LB</b
                  ><span class="tablesaw-cell-content">NRC .65</span>
                </td>
                <td>
                  <b class="tablesaw-cell-label"> QFA-EXT-D-2"</b
                  ><span class="tablesaw-cell-content">NRC .75</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- TABLE OF DATA -->

        <span class="text-xs text-neutral-500"
          >*The data presented in this table is provided for informational
          purposes only.</span
        >
      </div>
    </div>
  </section>
</section>

{% include 'components/_want-help-contact-us.html' %}
<!--  -->
{% endblock %}
