{% extends 'layouts/base.html' %}
<!--  -->
{% set title = "Tradeshows" %}
<!--  -->
{% set pageTitle = "Tradeshows" %}
<!--  -->
{% set description = "IES2000 Tradeshows" %}
<!--  -->
{% block content %}

<!-- IMAGE AND TITLE -->
<section
  class="relative flex h-[400px] items-center bg-[url('/public/images/page_headers/ies2000_tradeshows.jpg')] bg-cover bg-center bg-no-repeat"
>
  {% include 'components/_image-title.html' %}
</section>

<!-- TRADSHOWS -->
<section class="bg-slightly-white py-24">
  <section class="container mx-auto max-w-screen-md px-10">
    <div class="container m-auto">
      <h2 class="main-header">Tradeshows</h2>
      <div class="text-neutral-500">
        <p class="leading-normal">
          At IES2000, our enthusiasm for acoustic engineering is palpable in
          every aspect of our work. We're not just about showcasing our latest
          innovations at the tradeshow; we're eager to engage with fellow
          enthusiasts and professionals who share our passion. Come experience
          the energy and expertise that drives us as we demonstrate our
          commitment to advancing the field of sound technology. Join us at the
          tradeshow and immerse yourself in a world where innovation meets
          passion.
        </p>
      </div>
    </div>
  </section>
</section>

<!-- PROUD MEMEBERS OF -->
<section class="bg-slightly-white pb-24">
  <div class="container mx-auto max-w-screen-lg px-10 md:text-center">
    <h2 class="text mb-8 text-center font-bold uppercase text-neutral-500">
      Proud Memebrs of
    </h2>
    <div class="flex flex-wrap justify-around">
      <a target="_blank" href="https://www.isnetworld.com/en/"
        ><img
          class=""
          src="/public/images/ies2000_isn.png"
          alt="ISNetwork logo"
      /></a>
      <a
        target="_blank"
        href="https://www.sap.com/products/spend-management/ariba-network.html"
        ><img class="" src="/public/images/ies2000_ariba.png" alt="ariba logo"
      /></a>
    </div>
  </div>
</section>

<!-- UPCOMING -->
<section class="bg-slightly-white py-24">
  <section class="container mx-auto max-w-screen-md px-10">
    <div class="container m-auto">
      <h2 class="main-header">Upcoming Shows</h2>
      <div class="text-neutral-500">
        <p class="leading-normal">
          We’ve participated in all of the following trade shows and hope to see
          you again soon! <br />
          Please check back for date, time and booth info.
        </p>
      </div>
    </div>
  </section>
</section>

<!-- PAST SHOWS -->
<section class="bg-slightly-white py-24">
  <section class="container mx-auto max-w-screen-md px-10">
    <div class="container m-auto">
      <h2 class="main-header">Past Shows</h2>
      <div class="flex flex-col items-start gap-36 text-neutral-500">
        <!-- ITEM -->
        <div class="flex items-center justify-center gap-20">
          <a class="" target="_blank" href="https://www.gasafetyconference.com/"
            ><img
              class="w-64"
              width="291px"
              height="173px"
              src="/public/images/tradeshows/tradeshow-ga-safety-conference.png"
              alt="GA Safety Conference logo"
          /></a>
          <h4 class="subheader">GA Safety Conference</h4>
        </div>
        <!-- ITEM -->
        <div class="flex items-center justify-center gap-20">
          <a class="" target="_blank" href="https://www.insafetyconf.com/"
            ><img
              class="w-64"
              width="550px"
              height="334px"
              src="/public/images/tradeshows/tradeshow-in-safety-health.jpg"
              alt="IN Safety & Health logo"
          /></a>
          <h4 class="subheader">IN Safety & Health</h4>
        </div>
        <!-- ITEM -->
        <div class="flex items-center justify-center gap-20">
          <a class="" target="_blank" href="https://www.ncsafetyconference.com/"
            ><img
              class="w-64"
              width="288px"
              height="67px"
              src="/public/images/tradeshows/tradeshow-nc-statewide-safety.png"
              alt="NC Statewide Safety logo"
          /></a>
          <h4 class="subheader">NC Statewide Safety</h4>
        </div>
        <!-- ITEM -->
        <div class="flex items-center justify-center gap-20">
          <a class="" target="_blank" href="https://www.ohiosafetycongress.com/"
            ><img
              class="w-64"
              width="474px"
              height="208px"
              src="/public/images/tradeshows/tradeshow-oh-safety-2024.png"
              alt="OH Safety Congress & Expo logo"
          /></a>
          <h4 class="subheader">OH Safety Congress & Expo</h4>
        </div>
        <!-- ITEM -->
        <div class="flex items-center justify-center gap-20">
          <a class="" target="_blank" href="https://myscma.com/"
            ><img
              class="w-64"
              width="700px"
              height="182px"
              src="/public/images/tradeshows/tradeshow-sc-manufacturer-alliance-2.png"
              alt="SC Manufacturer's Alliance logo"
          /></a>
          <h4 class="subheader">SC Manufacturer's Alliance</h4>
        </div>
        <!-- ITEM -->
        <div class="flex items-center justify-center gap-20">
          <a class="" target="_blank" href="https://www.tnsafetycongress.org/"
            ><img
              class="w-64"
              width="391px"
              height="129px"
              src="/public/images/tradeshows/tradeshow-tn-safety-health.png"
              alt="TN Safety & Health logo"
          /></a>
          <h4 class="subheader">TN Safety & Health</h4>
        </div>
        <!-- ITEM -->
        <div class="flex items-center justify-center gap-20">
          <a class="" target="_blank" href="https://safety.vpppa.org/"
            ><img
              class="w-64"
              width="1327px"
              height="818px"
              src="/public/images/tradeshows/tradeshow-vpppa-safety-2024.jpg"
              alt="VPPPA Safety logo"
          /></a>
          <h4 class="subheader">VPPPA Safety</h4>
        </div>
      </div>
    </div>
  </section>
</section>

{% include 'components/_want-help-contact-us.html' %}
<!--  -->
{% endblock %}
